<aside class="app-footer-wrapper">
    <div class="app-footer">
        <nav class="app-footer-01">
            <a href="#" class="app-footer-home" aria-current="page"><i></i></a>
            <a href="#" class="app-footer-mileage"><i></i></a>
            <!-- 230308 검색기능 완료 전까지 mileage 임시 사용 > 개발 완료 시 search로 교체-->
            <!-- <a href="#" class="app-footer-search"><i></i></a> -->
            <a href="#" class="app-footer-card"><i></i></a>
            <a href="#" class="app-footer-my"><i></i></a>
        </nav>
        <!-- 앱>메인 추가 영역 시작 -->
        <div class="app-footer-02">
            <div class="app-footer-02-01">
                <button class="js-app-footer-02-01-01" type="button"><span>하기</span></button>
            </div>
        </div>
        <div class="app-footer-03">
            <div class="app-footer-03-01">
                <i></i>
                <p class="js-app-footer-03-01-01" role="alert" aria-live="off">
                    <strong>적립을 시작합니다</strong>목적지에 도착하시면 '도착하기'버튼을 눌러주세요!
                </p>
                <p class="js-app-footer-03-01-02" role="alert" aria-live="off">
                    <strong>도착 완료!</strong>마일리지는 최소 3영업일~8영업일 후 적립됩니다.
                </p>
                <button class="js-app-footer-03-01-03" type="button">닫기</button>
            </div>
        </div>
        <!-- 앱>메인 추가 영역 끝 -->
    </div>
</aside>
<!-- partial 파일 내 스크립트는 작동 안함(개발 시 참고용) -->
<script>
    $(function () {
        setManualButton();
    });

    function setManualButton () {
        const $manualButton = $(".js-app-footer-02-01-02");
        const $closeButton = $(".js-app-footer-03-01-03");
        const $context1 = $(".js-app-footer-03-01-01"); // 적립시작 문구
        const $context2 = $(".js-app-footer-03-01-02"); // 도착완료 문구

        $manualButton.click(function () {
            $(".js-app-footer-03-01-03").siblings("[aria-live=assertive]").attr("aria-live", "off"); // 활성화 문구 초기화

            if ($(this).attr("aria-pressed") != 'true') {
                $(this).attr("aria-pressed", true);
                $context1.attr("aria-live", "assertive");
            } else {
                $(this).removeAttr("aria-pressed");
                $context2.attr("aria-live", "assertive");
            }
        });

        // 닫기
        $closeButton.click(function () {
            $(this).siblings("[aria-live=assertive]").attr("aria-live", "off");
        });
    }
</script>