<footer id="footer" class="footer">
    <nav class="footer-01">
        <ul>
            <li><a href="/term/term01.html">서비스이용약관</a></li>
            <li><a href="/term/term01.html">위치기반서비스이용약관</a></li>
            <li><a href="/term/term04.html"><strong>개인정보처리방침</strong></a></li>
            <li><a href="/term/term02.html">이메일무단수집거부</a></li>
            <li><a href="/term/term03.html">품질오류신고</a></li>
        </ul>
    </nav>
    <div class="footer-02">
        <div class="footer-02-01">
            <dl>
                <div class="footer-02-01-01">
                    <dt><i></i><span>고객센터</span></dt>
                    <dd><a href="tel:031-427-4415">031-427-4415</a></dd>
                </div>
                <div class="footer-02-01-02">
                    <dt class="sr-only">운영시간</dt>
                    <dd>
                        <dl>
                            <dt>평일</dt>
                            <dd>
                                <dl class="footer-02-02-01-02-01">
                                    <dt class="sr-only">운영시작</dt>
                                    <dd><time>09:00</time></dd>
                                    <dt class="sr-only">운영끝</dt>
                                    <dd><time>18:00</time></dd>
                                </dl>
                            </dd>
                        </dl>
                    </dd>
                </div>
            </dl>
        </div>
        <div class="footer-02-02">
            <ul class="footer-02-02-01">
                <li><a href="https://alcard.kr" target="_blank"><img src="../assets/images/logo_mlit.svg" width="198"
                            height="33" alt="국토교통부대도시광역위원회 로고" /></a></li>
                <li><a href="https://alcard.kr" target="_blank"><img src="../assets/images/logo_ts.svg" width="203"
                            height="28" alt="TS한국교통안전공단 로고" /></a></li>
            </ul>
            <p class="footer-02-02-02">Copyright ⓒ Ministry of Land, Infrastructure and Transport. All Rights
                Reserved.</p>
        </div>
    </div>
</footer>