<a class="content-shortcut" href="#content">본문 바로가기</a>
<!-- 앱 app, 메인 main, 서브 sub -->
<header id="header" class="header main" aria-expanded="false">
    <div class="header-01">
        <div class="header-01-01">
            <a href="#" class="header-01-01-01">충남형 알뜰교통카드</a>
            <a href="#" class="header-01-01-02">부천스마트시티패스</a>
        </div>
        <nav class="header-01-02">
            <div class="header-01-02-01">
                <a href="#popupZone" data-toggle="modal" data-target="#popupZone"
                    class="header-01-02-01-01"><i></i>팝업존</a>
                <a href="#" class="header-01-02-01-02">로그인</a>
                <span class="header-01-02-01-03">
                    <a href="#">회원가입</a>
                    <p>반갑습니다!<br>알뜰교통카드 발급 받으셨나요? <a href="#">카드 먼저 발급받을게요</a></p>
                </span>
                <a href="#" class="header-01-02-01-04"><strong>앱 다운로드</strong></a>
            </div>
            <a href="#" class="header-01-02-02" aria-live="assertive"><i></i><span>알람</span></a>
            <a href="#" class="header-01-02-03" href="javascript:window.history.back(-1)"><i></i><span>뒤로가기</span></a>
        </nav>
    </div>
    <div class="header-02">
        <h1 class="header-logo">
            <a href="./index.html" title="알뜰교통카드 바로가기">
                <img src="./assets/images/logo.webp" width="414" height="66" alt="알뜰교통카드 로고">
            </a>
        </h1>
        <div class="gnb-wrap">
            <nav id="gnb">
                <ul class="depth1">
                    <li>
                        <a href="#" tabindex="0"><span>알뜰교통카드소개</span></a>
                        <ul class="depth2" data-title="알뜰교통카드소개">
                            <li>
                                <a href="#" tabindex="0"><span>알뜰교통카드란</span></a>
                            </li>
                            <li><a href="#" tabindex="0"><span>마일리지적립안내</span></a></li>
                            <li>
                                <a href="#" tabindex="0"><span>마일리지추가적립안내</span></a>
                                <ul class="depth3">
                                    <li><a href="#" tabindex="0"><span>저소득층</span></a></li>
                                    <li><a href="#" tabindex="0"><span>미세먼지발령일</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" tabindex="0"><span>알뜰교통카드소개</span></a>
                        <ul class="depth2" data-title="알뜰교통카드소개">
                            <li>
                                <a href="#" tabindex="0"><span>알뜰교통카드란</span></a>
                            </li>
                            <li><a href="#" tabindex="0"><span>마일리지적립안내</span></a></li>
                            <li>
                                <a href="#" tabindex="0"><span>마일리지추가적립안내</span></a>
                                <ul class="depth3">
                                    <li><a href="#" tabindex="0"><span>저소득층</span></a></li>
                                    <li><a href="#" tabindex="0"><span>미세먼지발령일</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" tabindex="0"><span>알뜰교통카드소개</span></a>
                        <ul class="depth2" data-title="알뜰교통카드소개">
                            <li>
                                <a href="#" tabindex="0"><span>알뜰교통카드란</span></a>
                            </li>
                            <li><a href="#" tabindex="0"><span>마일리지적립안내</span></a></li>
                            <li>
                                <a href="#" tabindex="0"><span>마일리지추가적립안내</span></a>
                                <ul class="depth3">
                                    <li><a href="#" tabindex="0"><span>저소득층</span></a></li>
                                    <li><a href="#" tabindex="0"><span>미세먼지발령일</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" tabindex="0"><span>알뜰교통카드소개</span></a>
                        <ul class="depth2" data-title="알뜰교통카드소개">
                            <li>
                                <a href="#" tabindex="0"><span>알뜰교통카드란</span></a>
                            </li>
                            <li><a href="#" tabindex="0"><span>마일리지적립안내</span></a></li>
                            <li>
                                <a href="#" tabindex="0"><span>마일리지추가적립안내</span></a>
                                <ul class="depth3">
                                    <li><a href="#" tabindex="0"><span>저소득층</span></a></li>
                                    <li><a href="#" tabindex="0"><span>미세먼지발령일</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" tabindex="0"><span>알뜰교통카드소개</span></a>
                        <ul class="depth2" data-title="알뜰교통카드소개">
                            <li>
                                <a href="#" tabindex="0"><span>알뜰교통카드란</span></a>
                            </li>
                            <li><a href="#" tabindex="0"><span>마일리지적립안내</span></a></li>
                            <li>
                                <a href="#" tabindex="0"><span>마일리지추가적립안내</span></a>
                                <ul class="depth3">
                                    <li><a href="#" tabindex="0"><span>저소득층</span></a></li>
                                    <li><a href="#" tabindex="0"><span>미세먼지발령일</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" tabindex="0"><span>알뜰교통카드소개</span></a>
                        <ul class="depth2" data-title="알뜰교통카드소개">
                            <li>
                                <a href="#" tabindex="0"><span>알뜰교통카드란</span></a>
                            </li>
                            <li><a href="#" tabindex="0"><span>마일리지적립안내</span></a></li>
                            <li>
                                <a href="#" tabindex="0"><span>마일리지추가적립안내</span></a>
                                <ul class="depth3">
                                    <li><a href="#" tabindex="0"><span>저소득층</span></a></li>
                                    <li><a href="#" tabindex="0"><span>미세먼지발령일</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" tabindex="0"><span>이용안내</span></a>
                        <ul class="depth2" data-title="이용안내">
                            <li><a href="#" tabindex="0"><span>대상자안내</span></a></li>
                            <li>
                                <a href="#" tabindex="0"><span>가입안내</span></a>
                                <ul class="depth3">
                                    <li><a href="#" tabindex="0"><span>홈페이지가입(PC)</span></a></li>
                                    <li><a href="#" tabindex="0"><span>홈페이지가입(Mobile)</span></a></li>
                                    <li><a href="#" tabindex="0"><span>앱 가입</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" tabindex="0"><span>교통카드사용안내</span></a>
                                <ul class="depth3">
                                    <li><a href="#" tabindex="0"><span>APP다운로드</span></a></li>
                                    <li><a href="#" tabindex="0"><span>주소검증결과확인</span></a></li>
                                    <li><a href="#" tabindex="0"><span>대중교통이용</span></a></li>
                                    <li><a href="#" tabindex="0"><span>적립내역확인</span></a></li>
                                    <li><a href="#" tabindex="0"><span>카드변경</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" tabindex="0"><span>적립·지급안내</span></a>
                                <ul class="depth3">
                                    <li><a href="#" tabindex="0"><span>지급조건</span></a></li>
                                    <li><a href="#" tabindex="0"><span>카드사</span></a></li>
                                    <li><a href="#" tabindex="0"><span>캐시비</span></a></li>
                                    <li><a href="#" tabindex="0"><span>원패스</span></a></li>
                                    <li><a href="#" tabindex="0"><span>티머니</span></a></li>
                                </ul>
                            </li>
                            <li><a href="#" tabindex="0"><span>카드사항 문의안내</span></a></li>
                        </ul>
                    </li>
                    <li><a href="#" tabindex="0"><span>카드발급안내</span></a></li>
                    <li>
                        <a href="#" tabindex="0"><span>알림마당</span></a>
                        <ul class="depth2" data-title="알뜰뉴스">
                            <li><a href="#" tabindex="0"><span>공지사항</span></a></li>
                            <li><a href="#" tabindex="0"><span>자주묻는질문</span></a></li>
                            <li><a href="#" tabindex="0"><span>홍보/카드뉴스</span></a></li>
                            <li><a href="#" tabindex="0"><span>이벤트</span></a></li>
                            <li><a href="#" tabindex="0"><span>찾아오시는길</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" tabindex="0"><span>문의하기</span></a>
                        <ul class="depth2" data-title="문의하기">
                            <li><a href="#" tabindex="0"><span>문의하기</span></a></li>
                            <li><a href="#" tabindex="0"><span>문의내역</span></a></li>
                        </ul>
                    </li>
                    <!-- <li class="first-child-m">
                        <a href="#" tabindex="0"><span>마이페이지</span></a>
                        <ul class="depth2" data-title="마이페이지">
                            <li><a href="#" tabindex="0"><span>마이페이지1</span></a></li>
                            <li><a href="#" tabindex="0"><span>마이페이지2</span></a></li>
                        </ul>
                    </li> -->
                    <!-- <li>
                        <a href="#" aria-hidden="true" tabindex="-1">숨겨진 depth1</a>
                        <ul class="depth2" data-title="문의하기">
                            <li><a href="#" aria-hidden="true" tabindex="-1">숨겨진 depth2</a></li>
                            <li><a href="#" aria-hidden="true" tabindex="-1">숨겨진 depth2</a></li>
                        </ul>
                    </li> -->
                </ul>
            </nav>
        </div>
        <button type="button" class="js-header-sitemap" aria-haspopup="true">
            <i></i>
            <i></i>
            <i></i>
            <span>사이트맵 보기</span>
        </button>
        <div class="header-search">
            <form>
                <fieldset>
                    <label for="search">검색어를 입력해주세요.</label>
                    <input type="text" id="search" name="" placeholder="검색어를 입력해주세요" maxlength="99">
                    <button>검색</button>
                </fieldset>
            </form>
        </div>
    </div>
</header>