<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Title" content="알뜰교통카드" />
<meta http-equiv="Publisher" content="소울인포테크" />
<meta http-equiv="Author" content="서성원" />
<meta http-equiv="Other Agent" content="" />
<meta http-equiv="Distribution" content="" />
<meta http-equiv="Location" content="대한민국" />
<meta http-equiv="Copyright" content="국토교통부" />
<meta http-equiv="Generator" content="Visual Studio Code" />
<!-- <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-chche" />
    <meta http-equiv="Expires" content="Mon,  08 Sep 2022 10:10:10 GMT" /> -->
<meta http-equiv="Reply-To" content="" />
<meta http-equiv="Email" content="" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="keywords" content="알뜰교통카드" />
<meta name="description" content="알뜰교통카드 홈페이지" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1" />
<meta property="og:type" content="website">
<meta property="og:url" content="https://alcard.kr/">
<meta property="og:title" content="알뜰교통카드">
<meta property="og:image" content="https://alcard.kr/assets/images/logo_header.svg">
<meta property="og:description" content="알뜰교통카드 홈페이지">
<meta property="og:site_name" content="Site Name">
<meta property="og:locale" content="KR">
<title>알뜰교통카드</title>
<link rel="stylesheet" type="text/css" href="/assets/css/style.min.css" />
<script defer src="./assets/js/pub.min.js"></script>