<article class="layer-popup" id="아이디" role="document" aria-hidden="true" tabindex="0"
    aria-labelledby="아이디Label">
    <div class="layer-popup-content">
        <header class="layer-popup-header">
            <h3 id="아이디Label"><!--타이틀--></h3>
            <button type="button" class="close" data-dismiss="layerPopup" aria-label="close" tabindex="0">
                <span>닫기</span>
            </button>
        </header>
        <section class="layer-popup-body">
            !<!--내용-->
        </section>
    </div>
</article>