<ol class="lnb">
    <li>
        <a href="/" class="lnb-home"><i></i><span>홈</span></a>
    </li>
    <li>
        <ol class="lnb-depth1-list">
            <li><a href="#">메뉴1</a></li>
            <li><a href="#" aria-current="page">메뉴2</a></li>
            <li><a href="#">메뉴3메뉴3메뉴3메뉴3메뉴3메뉴3</a></li>
            <li><a href="#">메뉴4</a></li>
        </ol>
    </li>
    <li>
        <ol class="lnb-depth2-list">
            <li><a href="#">메뉴1-1</a></li>
            <li><a href="#">메뉴1-2</a></li>
            <li><a href="#" aria-current="page">메뉴1-3메뉴1-3메뉴1-3메뉴1-3메뉴1-3메뉴1-3</a></li>
            <li><a href="#">메뉴1-4</a></li>
        </ol>
    </li>
</ol>