<article class="modal" id="아이디" tabindex="0" role="dialog 또는 alertdialog" aria-labelledby="아이디Label" hidden>
    <div class="modal-dialog" role="document" aria-hidden="false">
        <div class="modal-content">
            <header class="modal-header">
                <h3 id="아이디Label"><!--타이틀--></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span>닫기</span>
                </button>
            </header>
            <section class="modal-body">
                <!--내용-->
            </section>
        </div>
    </div>
</article>

<a href="#아이디" data-toggle="modal" data-target="#아이디">링크타이틀</a>

<!-- 공지 -->
<div class="modal" id="modal03" tabindex="0" role="alertdialog" aria-hidden="false" aria-labelledby="modal03Label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <section class="modal-body">
                <div class="modal-body-inner">
                    <h3 class="notice">공지는 이렇게</h3>
                    <p>공지는 이렇게</p>
                    <img src="./assets/images/guidance/guidance_01_02_01.webp" alt="공지 테스트 이미지" />
                </div>
                <div class="group-btn--center">
                    <button type="button">오늘하루보지않기</button>
                    <button type="button" data-dismiss="modal">닫기</button>
                </div>
            </section>
        </div>
    </div>
</div>