<!--위치정보 수집 및 이용에 대한 안내 -->
<div class="term current">
    <h5><strong class="strong">[위치정보 수집목적]</strong></h5>
    <p><strong class="strong">대도시권광역교통위원회는 알뜰교통카드 서비스를 제공하기 위해 필요한 위치정보를 수집합니다. 위치정보 수집 및 이용에 동의하시지 않는 경우 알뜰교통카드 서비스를 이용하실 수 없습니다.</strong></p>
    <h5><strong class="strong">[위치정보 수집항목]</strong></h5>
    <p><strong class="strong">아이디, 출발일시, 출발 위치 정보, 승차일시, 승차 위치 정보, 승차 정류장명, 하차일시, 하차 위치 정보, 하차 정류장명, 도착일시, 도착 위치정보, 이동 경로의 위치 추적 정보</strong></p>
    <h5><strong class="strong">[위치정보 보유 및 이용 기간]</strong></h5>
    <p><strong class="strong">수집된 위치정보는 1년간 보관됩니다.</strong></p>
    <h5><strong class="strong">[동의를 거부할 권리 및 동의를 거부할 경우의 불이익 사항]</strong></h5>
    <p><strong class="strong">회원은 위치정보의 수집·이용목적에 대한 동의를 거부할 수 있으며, 동의 거부 시 알뜰교통카드 앱에서 제공하는 서비스를 이용할 수 없습니다.</strong></p>
</div>