<!-- 위치기반 서비스 이용약관 -->
<div class="term-select">
    <h3>위치기반 서비스 이용약관<span id="term3-service-txt"></span></h3>
    <label for="term3-service-select" class="sr-only">개정이력 확인</label>
    <select id="term3-service-select">
        <option value="230215">개정이력 확인</option>
        <option value="220704">22년 07월 04일</option>
        <option value="210401">21년 04월 01일</option>
        <option value="200803">20년 08월 03일</option>
        <option value="200507">20년 05월 07일</option>
    </select>
</div>
<div class="term current" id="term3-service-230215">
    <p>대도시권광역교통위원회는 개인정보 보호법 제30조에 따라 회원의 개인정보를 보호하고 이와 관련한 고충을 신속하고 원활하게 처리할 수 있도록 다음과 같이 개인정보 처리지침을 수립․공개합니다.</p>

    <h4>제1조 (개인정보의 처리 목적)</h4>
    <p>대도시권광역교통위원회는 다음의 목적을 위하여 개인정보를 처리합니다. 처리하고 있는 개인정보는 다음의 목적 이외의 용도로는 이용되지 않으며, 이용 목적이 변경되는 경우에는 개인정보 보호법 제18조에 따라
        별도의
        동의를 받는 등 필요한 조치를 이행할 예정입니다.</p>
    <ol>
        <li>회원제 서비스 이용에 따른 관리(본인여부 식별(확인), 회원자격 유지·관리를 위한 인증, 회원가입 등)</li>
        <li>서비스 이용에 따른 마일리지의 산정 및 적립</li>
        <li>원활한 의사소통의 경로 확보 및 분쟁조정을 위한 기록보존(본인의사 확인, 고지사항 전달, 민원인의 신원 확인 및 불만처리, 사실조사를 위한 연락․통지, 처리결과 통보 등)</li>
        <li>통계학적 분석 및 정책개발(이용자의 서비스 이용에 대한 통계분석, 웹로그 분석 등)</li>
        <li>보안정책 수립, 온라인 정보 도용 및 유출사고 예방, 사고 조사 등의 목적</li>
    </ol>
    <h4>제2조 (개인정보의 처리 및 보유 기간)</h4>
    <p>대도시권광역교통위원회는 회원으로부터 개인정보를 수집 시에 동의 받은 개인정보 보유·이용기간 내에서 개인정보를 처리·보유합니다. 단, 관계법령상 보존할 필요가 있는 경우에는 관계법령에서 정한 일정기간 동안
        개인정보를 보유합니다.</p>
    <ol>
        <li>회원이 자격을 유지하고 있는 동안 수집된 개인정보를 보유·이용할 수 있습니다.</li>
        <li>회원이 탈회하거나 자격 상실에 의한 제명이 발생하는 경우, 대도시권광역교통위원회는 회원의 별도 요청이 없더라도 수집된 개인정보를 삭제 및 파기합니다.</li>
        <li>단, 탈퇴 또는 자격상실에도 불구하고 다음의 정보는 아래의 이유로 명시 기간 동안 보존됩니다.
            <ul>
                <li><strong class="strong">마일리지 정산 및 민원처리를 위한 개인·위치정보 및 마일리지 적립·지급 정보 보유: 회원 탈퇴일로부터 1년</strong></li>
                <li><strong class="strong">고객센터 전화상담 사무처리(전화상담 내용의 녹취파일): 상담일로부터 1년</strong></li>
            </ul>
        </li>
    </ol>
    <h4>제3조 (개인정보의 제3자 제공에 관한 사항)</h4>
    <p>대도시권광역교통위원회는 원칙적으로 회원의 개인정보를 수집·이용 목적으로 명시한 범위 내에서 처리하며, 다음의 경우를 제외하고는 회원의 사전 동의 없이는 본래의 목적 범위를 초과하여 처리하거나 제3자에게
        제공하지
        않습니다. 다만, 다음의 경우 예외로 합니다.</p>
    <ol>
        <li>회원으로부터 별도의 동의를 받는 경우</li>
        <li>다른 법률에 특별한 규정이 있는 경우</li>
        <li>회원 또는 그 법정대리인이 의사표시를 할 수 없는 상태에 있거나 주소불명 등으로 사전 동의를 받을 수 없는 경우로서 명백히 회원 또는 제3자의 급박한 생명, 신체, 재산의 이익을 위하여
            필요하다고
            인정되는 경우</li>
        <li>국가, 지방자치단체 및 교통 관련 연구기관이나 공공기관으로서 대통령령으로 정하는 기관이 교통 관련 정책수립, 업무수행, 통계작성 및 학술연구 등의 목적으로 요청하는 경우로서 특정 개인을 알아볼
            수 없는
            형태로 개인정보를 제공하는 경우 대도시권광역교통위원회는 다음과 같이 개인정보를 제3자에게 제공하고 있습니다. <strong class="strong">회원은 개인정보 제3자 제공 동의를 거부할 수 있으며, 거부할 경우 알뜰교통카드 서비스를 이용하실 수 없습니다.</strong>
            <ul>
                <li><strong class="strong">제공받는 자: 알뜰교통카드 마일리지지원사업 대상 지방자치단체와 정부출연연구기관 및 대학교 등</strong></li>
                <li><strong class="strong">제공 목적: 마일리지 지급 대상 확인, 정책 및 연구 개발 등</strong></li>
                <li><strong class="strong">제공 항목: 성명, 주민등록상 행정구역, 생년월일, 휴대전화 번호</strong></li>
                <li><strong class="strong">보유기간 및 이용기간: 제공목적 달성 시 까지</strong></li>
            </ul>
        </li>
    </ol>
    <h4>제4조 (개인정보 처리의 위탁에 관한 사항)</h4>
    <p>대도시권광역교통위원회는 원활한 개인정보 업무처리 서비스를 위해 다음과 같이 개인정보 처리 업무를 위탁 운영하고 있습니다.</p>
    <ol>
        <li>위탁 받는 자(수탁자) : 한국교통안전공단
            <ul>
                <li>위탁하는 업무의 내용 : 서비스 총괄 및 기획</li>
                <li>위탁기간 : 1년</li>
                <li>연락처 : 054-459-7441</li>
                <li>근무시간 : 09:00 ~ 18:00</li>
            </ul>
        </li>
        <li>위탁 받는 자(수탁자) : (주)소울인포테크
            <ul>
                <li>위탁하는 업무의 내용 : 시스템 개발 및 유지보수, 전화 상담센터 운영</li>
                <li>위탁기간 : 1년</li>
                <li>연락처 : 070-4280-4422</li>
                <li>근무시간 : 09:00 ~ 18:00</li>
            </ul>
            위탁계약 체결 시 개인정보 보호법 제26조에 따라 위탁업무 수행 목적 외 개인정보 처리 금지, 기술적ㆍ관리적 보호조치, 재 위탁 제한, 수탁자에 대한 관리ㆍ감독, 손해배상 등 책임에 관한 사항을
            계약서
            등 문서에 명시하고, 수탁자가 개인정보를 안전하게 처리하는지를 정기적으로 관리·감독하여 회원의 권익을 보호합니다.
        </li>
    </ol>
    <p>위탁 업무의 내용이나 수탁자가 변경될 경우에는 본 개인정보 처리방침을 통하여 공개하고 있습니다.</p>

    <h4>제5조 (회원의 권리∙의무 및 행사 방법에 관한 사항)</h4>
    <p>회원은 아래와 같은 권리를 행사 할 수 있으며, 만14세 미만 아동의 법정대리인은 그 아동의 개인정보에 대한 열람, 정정·삭제, 처리정지를 요구할 수 있습니다. 회원이 개인정보의 오류 등에 대한 정정
        또는
        삭제를 요구한 경우에는 정정 또는 삭제를 완료할 때까지 당해 개인정보를 이용하거나 제공하지 않습니다. 회원의 권리 행사는 개인정보 처리방법에 관한 고시 별지 제8호 서식에 따라 서면, 전자우편,
        모사전송(FAX) 등을 통하여 하실 수 있으며, 대도시권광역교통위원회는 이에 대해 지체 없이 조치하겠습니다. 권리 행사는 회원의 법정대리인이나 위임을 받은 자 등 대리인을 통하여 하실 수 있습니다. 이
        경우
        개인정보 처리방법에 관한 고시 별지 제11호 서식에 따른 위임장을 제출하셔야 합니다. 회원 권리에 따른 열람, 정정·삭제, 처리정지 요구 시 열람 등 요구를 한 자가 본인이거나 정당한 대리인인지를
        확인합니다.
    </p>
    <ol>
        <li>
            <h5>개인정보 열람 요구</h5>
            <p>대도시권광역교통위원회에서 보유하고 있는 개인정보파일은 「개인정보 보호법」 제35조(개인정보의 열람)에 따라 자신의 개인정보에 대한 열람을 요구할 수 있습니다. 다만, 개인정보 열람 요구는
                법 제
                35조 4항에 의하여 아래와 같이 제한될 수 있습니다.</p>
            <ol>
                <li>법률에 따라 열람이 금지되거나 제한되는 경우</li>
                <li>다른 사람의 생명·신체를 해할 우려가 있거나 다른 사람의 재산과 그 밖의 이익을 부당하게 침해할 우려가 있는 경우</li>
                <li>공공기관이 아래 각 목의 어느 하나에 해당하는 업무를 수행할 때 중대한 지장을 초래하는 경우</li>
                <ul>
                    <li>조세의 부과·징수 또는 환급에 관한 업무</li>
                    <li>「초ㆍ중등교육법」 및 「고등교육법」에 따른 각급 학교, 「평생교육법」에 따른 평생교육시설, 그 밖의 다른 법률에 따라 설치된 고등교육기관에서의 성적 평가 또는 입학자 선발에
                        관한
                        업무</li>
                    <li>학력·기능 및 채용에 관한 시험, 자격 심사에 관한 업무</li>
                    <li>보상금·급부금 산정 등에 대하여 진행 중인 평가 또는 판단에 관한 업무</li>
                    <li>다른 법률에 따라 진행 중인 감사 및 조사에 관한 업무</li>
                </ul>
            </ol>
        </li>
        <li>
            <h5>개인정보 정정·삭제 요구</h5>
            <p>대도시권광역교통위원회에서 보유하고 있는 개인정보파일은 「개인정보 보호법」 제36조(개인정보의 정정·삭제)에 따라 정정·삭제를 요구할 수 있습니다. 다만, 다른 법령에서 그 개인정보가 수집
                대상으로
                명시되어 있는 경우에는 그 삭제를 요구할 수 없습니다.</p>
        </li>
        <li>
            <h5>개인정보 처리정지 요구</h5>
            <p>대도시권광역교통위원회에서 보유하고 있는 개인정보파일은 「개인정보 보호법」 제37조(개인정보의 처리정지 등)에 따라 처리정지를 요구할 수 있습니다. 다만, 개인정보 처리정지 요구 시 법
                제37조
                2항에 의하여 처리정지 요구가 거절될 수 있습니다.</p>
            <ol>
                <li>법률에 특별한 규정이 있거나 법령상 의무를 준수하기 위하여 불가피한 경우</li>
                <li>다른 사람의 생명·신체를 해할 우려가 있거나 다른 사람의 재산과 그 밖의 이익을 부당하게 침해할 우려가 있는 경우</li>
                <li>공공기관이 개인정보를 처리하지 아니하면 다른 법률에서 정하는 소관 업무를 수행할 수 없는 경우</li>
                <li>개인정보를 처리하지 아니하면 회원과 약정한 서비스를 제공하지 못하는 등 계약의 이행이 곤란한 경우로서 회원이 그 계약의 해지 의사를 명확하게 밝히지 아니한 경우</li>
            </ol>
        </li>
    </ol>
    <h4>제6조 (개인정보 보호 업무 담당부서 및 개인정보 관리책임자)</h4>
    <p>대도시권광역교통위원회는 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 아래와 같이 관련 부서 및 개인정보 관리책임자를 지정하고 있습니다. 회원께서는 대도시권광역교통위원회의 서비스를
        이용하시면서
        발생한 모든 개인정보보호 관련 문제를 담당부서로 문의하실 수 있습니다. 대도시권광역교통위원회는 회원의 문의에 대해 지체없이 답변 및 처리해드릴 것입니다.</p>
    <ol>
        <li>개인정보 보호 담당부서: 국토교통부 대도시권 광역교통위원회 광역교통경제과</li>
        <li>개인정보관리책임자
            <ul>
                <li>이 름 : 김희천</li>
                <li>소 속 : 국토교통부 대도시권 광역교통위원회 광역교통경제과</li>
                <li>전 화 : 02-2100-1155</li>
                <li>직 위 : 과장</li>
            </ul>
        </li>
        <li>개인정보담당자
            <ul>
                <li>이 름 : 이덕천</li>
                <li>소 속 : 국토교통부 대도시권 광역교통위원회 광역교통경제과</li>
                <li>전 화 : 044-201-5081</li>
                <li>직 위 : 주무관</li>
                <li>메 일 : dclee77@korea.kr</li>
                <li>이 름 : 심상우</li>
                <li>소 속 : 한국교통안전공단</li>
                <li>전 화 : 054-459-7441</li>
                <li>직 위 : 연구위원</li>
                <li>메 일 : swshim@kotsa.or.kr</li>
                <li>이 름 : 임성혜</li>
                <li>소 속 : ㈜소울인포테크</li>
                <li>전 화 : 031-427-4415</li>
                <li>직 위 : 사원</li>
                <li>메 일 : alcard@soulint.com</li>
            </ul>
        </li>
    </ol>
    <h4>제7조 (개인정보의 열람)</h4>
    <p>회원의 개인정보 열람은 개인정보 보호법 제35조에 따라 아래의 부서에 요구할 수 있으며, 연락처는 아래와 같습니다.</p>
    <h5>[개인정보 열람 청구 접수ㆍ처리부서]</h5>
    <ul>
        <li>이 름 : 이덕천</li>
        <li>소 속 : 국토교통부 대도시권 광역교통위원회 광역교통경제과</li>
        <li>전 화 : 044-201-5081</li>
        <li>직 위 : 주무관</li>
        <li>메 일 : dclee77@korea.kr</li>
    </ul>
    <h4>제8조 (개인정보 자동수집 장치의 설치, 운영 및 그 거부에 관한 사항)</h4>
    <p>대도시권광역교통위원회는 원활한 서비스를 제공하기 위해 이용정보를 저장하고 수시로 불러오는 ‘쿠키(cookie)’를 사용합니다.</p>
    <ol>
        <li>
            <h5>쿠키(cookie)란?</h5>
            <p>알뜰교통카드 모바일 애플리케이션을 운영하는데 이용되는 서버가 이용자의 휴대전화에 보내는 소량의 정보이며, 회원의 휴대전화에 저장됩니다.</p>
        </li>
        <li>쿠키를 통해 수집하는 정보 : 회원 접속 빈도 및 시간, 이용 시간, 이동경로, 모바일 어플리케이션 항목 확인 횟수 등</li>
        <li>쿠키를 통해 수집한 정보는 이용자에 맞는 개인별 서비스를 제공하기 위해 사용합니다.</li>
        <li>쿠키 설정 거부 방법: 회원이 이용하는 브라우저에서 “설정” 내의 “개인정보 보호” 항목 설정을 통해 쿠키 저장을 거부할 수 있습니다. 단, 쿠키 저장을 거부할 경우 기술 지원 및 서비스 제공에
            어려움이 있을 수 있으며, 이 경우 대도시권광역교통위원회는 책임을 지지 않습니다.</li>
    </ol>
    <h4>제 9 조 (처리하는 개인정보의 항목)</h4>
    <p>대도시권광역교통위원회가 처리하는 개인정보 항목은 아래와 같습니다.</p>
    <ol>
        <li>회원정보
            <ul>
                <li><strong class="strong">필수항목: 교통카드번호, 아이디, 비밀번호, 성명, 생년월일, 휴대전화번호, 즐겨찾는 주소, 즐겨찾는 정류장, 주민등록번호, 주민등록지상 행정구역, 직업, 가입경로</strong></li>
                <li><strong class="strong">선택항목: 이메일, 저소득층 증빙서류</strong></li>
            </ul>
        </li>
        <li>소셜연동 회원정보
            <ul>
                <li><strong class="strong">필수항목: 교통카드번호, 성명, 생년월일, 휴대전화번호, 즐겨찾는 주소, 즐겨찾는 정류장, 주민등록번호, 주민등록지상 지자체, 직업, 가입경로, 이메일</strong></li>
                <li><strong class="strong">선택항목: 저소득층 증빙서류</strong></li>
            </ul>
        </li>
        <li>알뜰교통카드 모바일 어플리케이션 이용 정보
            <ul>
                <li><strong class="strong">필수항목: 아이디, 출발일시, 출발 위치 정보, 승차일시, 승차 위치 정보, 승차 정류장명, 하차일시, 하차 위치 정보, 하차 정류장명, 도착일시, 도착 위치 정보</strong></li>
                <li>알뜰교통카드 모바일 어플리케이션(안드로이드)이 종료되었거나 사용 중이 아닐 때도 위치 데이터를 수집하여 출발, 도착 기능을 사용 설정합니다.</li>
            </ul>
        </li>
        <li>고객센터 상담정보
            <ul>
                <li><strong class="strong">필수항목: 아이디, 성명, 휴대전화번호</strong></li>
                <li>모바일 서비스의 경우, 그 특성상 단말기에 관한 정보(단말기 OS, 단말기 모델, 하드웨어 ID)가 자동 수집될 수 있으나, 이는 개인을 식별할 수 없는 형태입니다.</li>
                <li>단말기에 관한 정보 이외에 추가적으로 로그 정보, 서비스 이용 기록, 앱 설치 정보, 걷기 거리, 걸음 수 등이 수집될 수 있습니다.</li>
            </ul>
        </li>
    </ol>
    <h4>제10조(개인정보의 수집)</h4>
    <ol>
        <li>대도시권광역교통위원회는 개인정보의 제공·활용 동의서 또는 이용약관의 내용에 대해 서면 또는 별도의 동의 버튼을 클릭할 수 있는 절차를 마련하여, 동의 버튼을 클릭하면 개인정보 수집에 대해 동의한
            것으로
            봅니다.</li>
        <li>대도시권광역교통위원회는 다음과 같은 방법으로 개인정보를 수집하며, 회원의 사생활을 침해할 우려가 있는 민감정보에 대해서는 원칙적으로 수집하지 않습니다. 필요한 경우 회원의 별도 동의를 받아
            수집하고
            동의 목적을 위해서만 제한적으로 이용합니다.</li>
    </ol>
    <h4>제11조(동의의 거부권 및 거부 시의 불이익 고지)</h4>
    <p>회원은 개인정보 수집ㆍ이용에 관한 동의를 거부할 권리가 있습니다. 다만, 서비스 이용을 위해 필요한 최소한의 개인정보 수집ㆍ이용에 관한 동의를 거부하는 경우에는 알뜰교통카드 서비스 이용이 불가합니다.
    </p>
    <h4>제12조 (개인정보의 파기)</h4>
    <p>대도시권광역교통위원회는 원칙적으로 개인정보 처리 목적이 달성된 개인정보는 지체 없이 파기합니다. 다만, 다른 법령 또는 내부 방침에 의해 보존하여야 하는 경우에는 그러하지 않을 수 있습니다. 파기의
        절차, 기한
        및 방법은 다음과 같습니다.</p>
    <ol>
        <li>
            <h5>파기절차</h5>
            <p>불필요한 개인정보 및 개인정보파일은 개인정보책임자의 책임 하에 내부방침 절차에 따라 다음과 같이 처리하고 있습니다.</p>
            <ol>
                <li>개인정보의 파기 <br>보유기간이 경과한 개인정보는 종료일로부터 지체 없이 파기합니다.</li>
                <li>개인정보파일의 파기 <br>개인정보파일의 처리 목적 달성, 해당 서비스의 폐지, 사업의 종료 등 그 개인정보파일이 불필요하게 되었을 때에는 개인정보의 처리가 불필요한 것으로
                    인정되는
                    날로부터 지체 없이 그 개인정보파일을 파기합니다.</li>
                <li>
                    <h5>파기방법</h5>
                    <ul>
                        <li>전자적 형태의 정보는 기록을 재생할 수 없는 기술적 방법을 사용합니다.</li>
                        <li>종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.</li>
                    </ul>
                </li>
            </ol>
        </li>
    </ol>
    <h4>제13조 (개인정보의 안전성 확보 조치)</h4>
    <p>대도시권광역교통위원회는 개인정보의 안전성 확보를 위해 다음과 같은 조치를 취하고 있습니다.</p>
    <ol>
        <li>
            <h5>개인정보 취급 직원의 최소화 및 교육</h5>
            <p>개인정보를 취급하는 직원은 반드시 필요한 인원에 한하여 지정
            </p>
        </li>
        <li>관리하고 있으며 취급 직원을 대상으로 안전한 관리를 위한 교육을 실시하고 있습니다.<p></p>
        </li>

        <li>
            <h5>개인정보에 대한 접근 제한</h5>
            <p>개인식별정보 (아이디, 성명, 생년월일, 휴대번호, 알뜰교통카드카드번호, 주민등록번호)에 대해 다음과 같은 접근 제한을 실시하고 있습니다.</p>
            <ul>
                <li>개인정보를 안전하게 저장‧전송할 수 있는 암호화 기술의 적용 또는 이에 상응하는 조치</li>
                <li>개인정보 침해사고 발생에 대응하기 위한 접속 기록의 보관 및 위조‧변조 방지를 위한 조치</li>
                <li>개인정보의 안전한 보관을 위한 보관시설의 마련 또는 잠금장치의 설치 등 물리적 조치</li>
            </ul>
        </li>
        <li>
            <h5>보안프로그램 설치 및 주기적 점검·갱신</h5>
            <p>해킹이나 컴퓨터 바이러스 등에 의한 개인정보 유출 및 훼손을 막기 위하여 보안프로그램을 설치하고 주기적으로 갱신·점검하고 있습니다.</p>
        </li>
        <li>
            <h5>내부관리계획의 수립 및 시행</h5>
            <p>개인정보의 안전한 처리를 위하여 내부관리계획을 수립하고 시행하고 있습니다.</p>
        </li>
    </ol>
    <h4>제14조 (권익침해 구제방법)</h4>
    <p>개인정보 주체는 개인정보침해로 인한 피해를 구제 받기 위하여 다음과 같이 개인정보 분쟁조정위원회, 한국인터넷진흥원 개인정보 침해-신고센터 등에 분쟁해결이나 상담 등을 신청할 수 있습니다.</p>
    <ul>
        <li>개인정보 분쟁조정위원회 : (국번없이) 1833-6972 (www.kopico.go.kr)</li>
        <li>개인정보 침해신고센터 : (국번없이) 118 (privacy.kisa.or.kr)</li>
        <li>대검찰청 사이버수사과 : (국번없이) 1301, cid@spo.go.kr (www.spo.go.kr)</li>
        <li>경찰청 사이버안전국 : (국번없이) 182 (ecrm.cyber.go.kr)</li>
    </ul>
    <p>「개인정보 보호법」 제35조(개인정보의 열람), 제36조(개인정보의 정정·삭제), 제37조(개인정보의 처리정지 등)의 규정에 의한 요구에 대하여 공공기관의 장이 행한 처분 또는 부작위로 인하여 권리 또는
        이익의
        침해를 받은 자는 행정심판법이 정하는 바에 따라 행정심판을 청구할 수 있습니다.</p>
    <ul>
        <li>중앙행정심판위원회 : (국번없이) 110 (www.simpan.go.kr)</li>
    </ul>
    <h4>제15조 (개인정보 처리방침 변경)</h4>
    <p>현 개인정보처리방침 내용 추가, 삭제 및 수정이 있을 시에는 개정 최소 7일전부터 '공지사항'을 통해 고지할 것입니다. 다만, 개인정보의 수집 및 활용, 제3자 제공 등과 같이 회원 권리의 중요한 변경이
        있을
        경우에는 최소 30일 전에 고지합니다. <br>-시행일: 2023년 2월 15일</p>
</div>
<div class="term" id="term3-service-220704">
    <h4>제1장 총칙</h4>
    <dl>
        <dt>제 1 조 (목적)</dt>
        <dd>본 약관은 회원(알뜰교통카드 서비스 약관에 동의한 자를 말합니다. 이하 "회원"이라고 합니다.)이 국토교통부 대도시권 광역교통위원회 (이하 "회사"라고 합니다.)가 제공하는
            알뜰교통카드 서비스(이하 "서비스"라고 합니다)를 이용함에 있어 회사와 회원의 권리·의무 및 책임사항을 규정함을 목적으로 합니다.</dd>

        <dt>제 2 조 (이용약관의 효력 및 변경)</dt>
        <dd>
            <ol>
                <li><span>①</span> 본 약관은 회원이 본 약관에 동의하고 회사가 정한 소정의 절차에 따라 서비스의 이용자로 등록함으로써 효력이 발생합니다.</li>
                <li><span>②</span> 회원이 온라인에서 본 약관의 "동의하기" 버튼을 클릭하였을 경우 본 약관의 내용을 모두 읽고 이를 충분히 이해하였으며, 그 적용에 동의한
                    것으로 봅니다.</li>
                <li><span>③</span> 회사는 위치정보의 보호 및 이용 등에 관한 법률, 콘텐츠산업 진흥법, 전자상거래 등에서의 소비자보호에 관한 법률, 소비자 기본법 약관의
                    규제에 관한 법률 등 관련법령을 위배하지 않는 범위에서 본 약관을 개정할 수 있습니다.</li>
                <li><span>④</span> 회사가 약관을 개정할 경우에는 기존약관과 개정약관 및 개정약관의 적용일자와 개정사유를 명시하여 현행약관과 함께 그 적용일자 10일 전부터
                    적용일 이후 상당한 기간 동안 공지만을 하고, 개정 내용이 회원에게 불리한 경우에는 그 적용일자 30일 전부터 적용일 이후 상당한 기간 동안 각각 이를 서비스
                    홈페이지에 게시하거나 회원에게 전자적 형태(전자우편, SMS 등)로 약관 개정 사실을 발송하여 고지합니다.</li>
                <li><span>⑤</span> 회사가 전항에 따라 회원에게 통지하면서 공지 또는 공지ㆍ고지일로부터 개정약관 시행일 7일 후까지 거부의사를 표시하지 아니하면 이용약관에
                    승인한 것으로 봅니다. 회원이 개정약관에 동의하지 않을 경우 회원은 이용계약을 해지할 수 있습니다.</li>
            </ol>
        </dd>

        <dt>제 3 조 (관계법령의 적용)</dt>
        <dd>본 약관은 신의성실의 원칙에 따라 공정하게 적용하며, 본 약관에 명시되지 아니한 사항에 대하여는 관계법령 또는 상관례에 따릅니다.</dd>

        <dt>제 4 조 (서비스의 내용)</dt>
        <dd>
            <p>회사가 제공하는 서비스는 아래와 같습니다.</p>
            <table>
                <caption>회사가 제공하는 서비스 내용</caption>
                <colgroup>
                    <col style="width: 25%;">
                    <col style="width: 75%;">
                </colgroup>
                <tbody>
                    <tr>
                        <th class="text-center">서비스 명</th>
                        <td>알뜰교통카드</td>
                    </tr>
                    <tr>
                        <th class="text-center">서비스 내용</th>
                        <td>회원이 정기적인 대중교통 이용 시 보행‧자전거 또는 이와 유사한 수단을 이용해 최초 출발한 지점부터 대중교통 승차지점까지 및 대중교통 하차지점부터 최종
                            도착한 지점까지 이동한 거리를 측정하여 마일리지를 지급하는 서비스</td>
                    </tr>
                </tbody>
            </table>
        </dd>

        <dt>제 5 조 (서비스 이용요금)</dt>
        <dd>
            <ol>
                <li><span>①</span> 회사가 제공하는 서비스는 기본적으로 무료입니다. 단, 별도의 유료 서비스의 경우 해당 서비스에 명시된 요금을 지불하여야 사용 가능합니다.
                </li>
                <li><span>②</span> 회사는 유료 서비스 이용요금을 회사와 계약한 전자지불업체에서 정한 방법에 의하거나 회사가 정한 청구서에 합산하여 청구할 수 있습니다.
                </li>
                <li><span>③</span> 유료서비스 이용을 통하여 결제된 대금에 대한 취소 및 환불은 회사의 결제 이용약관 등 관계법에 따릅니다.</li>
                <li><span>④</span> 회원의 개인정보도용 및 결제사기로 인한 환불요청 또는 결제자의 개인정보 요구는 법률이 정한 경우 외에는 거절될 수 있습니다.</li>
                <li><span>⑤</span> 무선 서비스 이용 시 발생하는 데이터 통신료는 별도이며 가입한 각 이동통신사의 정책에 따릅니다.</li>
                <li><span>⑥</span> MMS 등으로 게시물을 등록할 경우 발생하는 요금은 이동통신사의 정책에 따릅니다.</li>
            </ol>
        </dd>

        <dt>제 6 조 (서비스내용변경 통지 등)</dt>
        <dd>
            <ol>
                <li><span>①</span> 회사가 서비스 내용을 변경하거나 종료하는 경우 회사는 회원의 등록된 휴대폰번호로 문자전송을 통하여 서비스 내용의 변경 사항 또는 종료를
                    통지할 수 있습니다.</li>
                <li><span>②</span> ①항의 경우 불특정 다수인을 상대로 통지를 함에 있어서는 웹사이트 등 기타 회사의 공지사항을 통하여 회원들에게 통지할 수 있습니다.
                </li>
            </ol>
        </dd>

        <dt>제 7 조 (서비스이용의 제한 및 중지)</dt>
        <dd>
            <ol>
                <li><span>①</span> 회사는 아래 각 호의 1에 해당하는 사유가 발생한 경우에는 회원의 서비스 이용을 제한하거나 중지시킬 수 있습니다.
                    <ol>
                        <li><span>1.</span> 회원이 회사 서비스의 운영을 고의 또는 중과실로 방해하는 경우</li>
                        <li><span>2.</span> 서비스용 설비 점검, 보수 또는 공사로 인하여 부득이한 경우</li>
                        <li><span>3.</span> 전기통신사업법에 규정된 기간통신사업자가 전기통신 서비스를 중지했을 경우</li>
                        <li><span>4.</span> 국가비상사태, 서비스 설비의 장애 또는 서비스 이용의 폭주 등으로 서비스 이용에 지장이 있는 때</li>
                        <li><span>5.</span> 기타 중대한 사유로 인하여 회사가 서비스 제공을 지속하는 것이 부적당하다고 인정하는 경우</li>
                    </ol>
                </li>
                <li><span>②</span> 회사는 전항의 규정에 의하여 서비스의 이용을 제한하거나 중지한 때에는 그 사유 및 제한기간 등을 회원에게 알려야 합니다.</li>
            </ol>
        </dd>

        <dt>제 8 조 (회원위치정보의 이용 또는 제공)</dt>
        <dd>
            <ol>
                <li><span>①</span> 회사는 회원위치정보를 이용하여 서비스를 제공하고자 하는 경우에는 미리 이용약관에 명시한 후 회원의 동의를 얻어야 합니다.</li>
                <li><span>②</span> 회원 및 법정대리인의 권리와 그 행사방법은 제소 당시의 이용자의 주소에 의하며, 주소가 없는 경우에는 거소를 관할하는 지방법원의 전속관할로
                    합니다. 다만, 제소 당시 이용자의 주소 또는 거소가 분명하지 않거나 외국 거주자의 경우에는 민사소송법상의 관할법원에 제기합니다.
                    <ol>
                        <li><span>1.</span> 개인위치정보를 수집한 당해 통신단말장치가 문자, 음성 또는 영상의 수신기능을 갖추지 아니한 경우</li>
                        <li><span>2.</span> 회원이 온라인 게시 등의 방법으로 통보할 것을 미리 요청한 경우</li>
                    </ol>
                </li>
                <li><span>③</span> 회사는 타사업자 또는 이용 고객과의 요금정산 및 민원처리를 위해 위치정보 이용·제공․사실 확인자료를 자동 기록·보존하며, 해당 자료는
                    1년간 보관합니다.</li>
                <li><span>④</span> 회사는 개인위치정보를 회원이 지정하는 제3자에게 제공하는 경우에는 개인위치정보를 수집한 당해 통신 단말장치로 매회 회원에게 제공받는 자,
                    제공일시 및 제공목적을 즉시 통보합니다. 단, 아래 각 호의 1에 해당하는 경우에는 회원이 미리 특정하여 지정한 통신 단말장치 또는 전자우편주소로 통보합니다.
                    <ol>
                        <li><span>1.</span> 개인위치정보를 수집한 당해 통신단말장치가 문자, 음성 또는 영상의 수신기능을 갖추지 아니한 경우</li>
                        <li><span>2.</span> 회원이 온라인 게시 등의 방법으로 통보할 것을 미리 요청한 경우</li>
                    </ol>
                </li>
            </ol>
        </dd>

        <dt>제 9 조 (회원의 권리)</dt>
        <dd>
            <ol>
                <li><span>①</span> 회원은 회사에 대하여 언제든지 개인위치정보를 이용한 위치기반서비스 제공 및 개인위치정보의 제3자 제공에 대한 동의의 전부 또는 일부를
                    철회할 수 있습니다. 이 경우 회사는 수집한 개인위치정보 및 위치정보 이용, 제공사실 확인자료를 파기합니다.</li>
                <li><span>②</span> 회원은 회사에 대하여 언제든지 개인위치정보의 수집, 이용 또는 제공의 일시적인 중지를 요구할 수 있으며, 회사는 이를 거절할 수 없고 이를
                    위한 기술적 수단을 갖추고 있습니다.</li>
                <li><span>③</span> 회원은 회사에 대하여 아래 각 호의 자료에 대한 열람 또는 고지를 요구할 수 있고, 당해 자료에 오류가 있는 경우에는 그 정정을 요구할 수
                    있습니다. 이 경우 회사는 정당한 사유 없이 회원의 요구를 거절할 수 없습니다.
                    <ol>
                        <li><span>1.</span> 본인에 대한 위치정보 수집, 이용, 제공사실 확인자료</li>
                        <li><span>2.</span> 본인의 개인위치정보가 위치정보의 보호 및 이용 등에 관한 법률 또는 다른 법률 규정에 의하여 제3자에게 제공된 이유 및
                            내용</li>
                    </ol>
                </li>
                <li><span>④</span> 회원은 제1항 내지 제3항의 권리행사를 위해 회사의 소정의 절차를 통해 요구할 수 있습니다.</li>

            </ol>
        </dd>

        <dt>제 10 조 (법정대리인의 권리)</dt>
        <dd>
            <ol>
                <li><span>①</span> 회사는 14세 미만의 회원에 대해서는 개인위치정보를 이용한 위치기반서비스 제공 및 개인위치정보의 제3자 제공에 대한 동의를 당해 회원과
                    당해 회원의 법정대리인으로부터 동의를 받아야 합니다. 이 경우 법정대리인은 제9조에 의한 회원의 권리를 모두 가집니다.</li>
                <li><span>②</span> 회사는 14세 미만의 아동의 개인위치정보 또는 위치정보 이용, 제공사실 확인자료를 이용약관에 명시 또는 고지한 범위를 넘어 이용하거나
                    제3자에게 제공하고자 하는 경우에는 14세 미만의 아동과 그 법정대리인의 동의를 받아야 합니다. 단, 아래의 경우는 제외합니다.
                    <ol>
                        <li><span>1.</span> 위치정보 및 위치기반서비스 제공에 따른 요금정산을 위하여 위치정보 이용, 제공사실 확인자료가 필요한 경우</li>
                        <li><span>2.</span> 통계작성, 학술연구 또는 시장조사를 위하여 특정 개인을 알아볼 수 없는 형태로 가공하여 제공하는 경우</li>
                    </ol>
                </li>
            </ol>
        </dd>

        <dt>제 11 조 (8세 이하의 아동 등의 보호의무자의 권리)</dt>
        <dd>
            <ol>
                <li><span>①</span> 회사는 아래의 경우에 해당하는 자(이하 “8세 이하의 아동”등이라 한다)의 보호의무자가 8세 이하의 아동 등의 생명 또는 신체보호를 위하여
                    개인위치정보의 이용 또는 제공에 동의하는 경우에는 본인의 동의가 있는 것으로 봅니다.
                    <ol>
                        <li><span>1.</span> 8세 이하의 아동</li>
                        <li><span>2.</span> 금치산자</li>
                        <li><span>3.</span> 장애인복지법제2조제2항제2호의 규정에 의한 정신적 장애를 가진 자로서 장애인고용촉진및직업재활법 제2조제2호의 규정에 의한
                            중증장애인에 해당하는 자(장애인복지법 제29조의 규정에 의하여 장애인등록을 한 자에 한한다)</li>
                    </ol>
                </li>
                <li><span>②</span> 8세 이하의 아동 등의 생명 또는 신체의 보호를 위하여 개인위치정보의 이용 또는 제공에 동의를 하고자 하는 보호의무자는 서면동의서에
                    보호의무자임을 증명하는 서면을 첨부하여 회사에 제출하여야 합니다.</li>
                <li><span>③</span> 보호의무자는 8세 이하의 아동 등의 개인위치정보 이용 또는 제공에 동의하는 경우 개인위치정보주체 권리의 전부를 행사할 수 있습니다.
                </li>
            </ol>
        </dd>

        <dt>제 12조 (위치정보관리책임자의 지정)</dt>
        <dd>
            <ol>
                <li><span>①</span> 회사는 위치정보를 적절히 관리·보호하고 회원의 불만을 원활히 처리할 수 있도록 실질적인 책임을 질 수 있는 지위에 있는 자를
                    위치정보관리책임자로 지정해 운영합니다.</li>
                <li><span>②</span> 위치정보관리책임자는 위치기반서비스를 제공하는 부서의 부서장으로서 구체적인 사항은 본 약관의 부칙에 따릅니다.</li>
            </ol>
        </dd>

        <dt>제 13 조 (손해배상)</dt>
        <dd>
            <ol>
                <li><span>①</span> 회사가 위치정보의 보호 및 이용 등에 관한 법률 제15조 내지 제26조의 규정을 위반한 행위로 회원에게 손해가 발생한 경우 회원은 회사에
                    대하여 손해배상 청구를 할 수 있습니다. 이 경우 회사는 고의, 과실이 없음을 입증하지 못하는 경우 책임을 면할 수 없습니다.</li>
                <li><span>②</span> 회원이 본 약관의 규정을 위반하여 회사에 손해가 발생한 경우 회사는 회원에 대하여 손해배상을 청구할 수 있습니다. 이 경우 회원은 고의,
                    과실이 없음을 입증하지 못하는 경우 책임을 면할 수 없습니다.</li>
            </ol>
        </dd>

        <dt>제 14 조 (면책)</dt>
        <dd>
            <ol>
                <li><span>①</span> 회사는 다음 각 호의 경우로 서비스를 제공할 수 없는 경우 이로 인하여 회원에게 발생한 손해에 대해서는 책임을 부담하지 않습니다.
                    <ol>
                        <li><span>1.</span> 천재지변 또는 이에 준하는 불가항력의 상태가 있는 경우</li>
                        <li><span>2.</span> 서비스 제공을 위하여 회사와 서비스 제휴계약을 체결한 제3자의 고의적인 서비스 방해가 있는 경우</li>
                        <li><span>3.</span> 회원의 귀책사유로 서비스 이용에 장애가 있는 경우</li>
                        <li><span>4.</span> 제1호 내지 제3호를 제외한 기타 회사의 고의ㆍ과실이 없는 사유로 인한 경우</li>
                    </ol>
                </li>
                <li><span>②</span> 회사는 서비스 및 서비스에 게재된 정보, 자료, 사실의 신뢰도, 정확성 등에 대해서는 보증을 하지 않으며 이로 인해 발생한 회원의 손해에
                    대하여는 책임을 부담하지 아니합니다.</li>
            </ol>
        </dd>

        <dt>제 15 조 (규정의 준용)</dt>
        <dd>
            <ol>
                <li><span>①</span> 본 약관은 대한민국법령에 의하여 규정되고 이행됩니다.</li>
                <li><span>②</span> 본 약관에 규정되지 않은 사항에 대해서는 관련법령 및 상관습에 의합니다.</li>
            </ol>
        </dd>

        <dt>제 16 조 (분쟁의 조정 및 기타)</dt>
        <dd>
            <ol>
                <li><span>①</span> 회사는 위치정보와 관련된 분쟁에 대해 당사자간 협의가 이루어지지 아니하거나 협의를 할 수 없는 경우에는 위치정보의 보호 및 이용 등에 관한
                    법률 제28조의 규정에 의한 방송통신위원회에 재정을 신청할 수 있습니다.</li>
                <li><span>②</span> 회사 또는 고객은 위치정보와 관련된 분쟁에 대해 당사자간 협의가 이루어지지 아니하거나 협의를 할 수 없는 경우에는 개인정보보호법 제43조의
                    규정에 의한 개인정보분쟁조정위원회에 조정을 신청할 수 있습니다.</li>
            </ol>
        </dd>

        <dt>제 17 조 (회사의 연락처) </dt>
        <dd>
            <p>회사의 상호 및 주소 등은 다음과 같습니다.</p>
            <ol>
                <li><span>①</span> 상&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;호 : 국토교통부 대도시권 광역교통위원회</li>
                <li><span>②</span> 대&nbsp;표&nbsp;자 : 이성해</li>
                <li><span>③</span> 세종특별자치시 한누리대로 350 (뱅크빌딩 7F)</li>
            </ol>
        </dd>

        <dt>부칙</dt>
        <dd>제1조 (시행일) 이 약관은 2022년 7월 4일부터 시행합니다. </dd>
        <dd>제2조 위치정보관리책임자는 2020년 11월 10일 기준으로 다음과 같이 지정합니다.</dd>
        <dd>
            <ol>
                <li><span>①</span> 상&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;호 : ㈜소울인포테크 </li>
                <li><span>②</span> 대&nbsp;표&nbsp;자 : 황철연</li>
                <li><span>③</span> 연락처 : 070-4280-4422</li>
            </ol>
        </dd>
        <dd>
        </dd>
    </dl>
</div>
<div class="term" id="term3-service-210401">
    <h3>제1장 총칙</h3>
    <strong>제 1 조 (목적)</strong>
    <p>
        본 약관은 회원(알뜰교통카드 서비스 약관에 동의한 자를 말합니다. 이하 "회원"이라고 합니다.)이 국토교통부 대도시권 광역교통위원회 (이하 "회사"라고 합니다.)가 제공하는 알뜰교통카드 서비스(이하
        "서비스"라고 합니다)를 이용함에 있어 회사와 회원의 권리·의무 및 책임사항을 규정함을 목적으로 합니다.
    </p>

    <strong>제 2 조 (이용약관의 효력 및 변경)</strong>
    <ol>
        <li>본 약관은 회원이 본 약관에 동의하고 회사가 정한 소정의 절차에 따라 서비스의 이용자로 등록함으로써 효력이 발생합니다.</li>
        <li>회원이 온라인에서 본 약관의 "동의하기" 버튼을 클릭하였을 경우 본 약관의 내용을 모두 읽고 이를 충분히 이해하였으며, 그 적용에 동의한 것으로 봅니다.</li>
        <li>회사는 위치정보의 보호 및 이용 등에 관한 법률, 콘텐츠산업 진흥법, 전자상거래 등에서의 소비자보호에 관한 법률, 소비자 기본법 약관의 규제에 관한 법률 등 관련법령을 위배하지 않는 범위에서 본
            약관을 개정할 수 있습니다.</li>
        <li>회사가 약관을 개정할 경우에는 기존약관과 개정약관 및 개정약관의 적용일자와 개정사유를 명시하여 현행약관과 함께 그 적용일자 10일 전부터 적용일 이후 상당한 기간 동안 공지만을 하고, 개정
            내용이 회원에게 불리한 경우에는 그 적용일자 30일 전부터 적용일 이후 상당한 기간 동안 각각 이를 서비스 홈페이지에 게시하거나 회원에게 전자적 형태(전자우편, SMS 등)로 약관 개정 사실을
            발송하여 고지합니다.</li>
        <li>회사가 전항에 따라 회원에게 통지하면서 공지 또는 공지ㆍ고지일로부터 개정약관 시행일 7일 후까지 거부의사를 표시하지 아니하면 이용약관에 승인한 것으로 봅니다. 회원이 개정약관에 동의하지 않을
            경우 회원은 이용계약을 해지할 수 있습니다.</li>
    </ol>

    <strong>제 3 조 (관계법령의 적용)</strong>
    <p>본 약관은 신의성실의 원칙에 따라 공정하게 적용하며, 본 약관에 명시되지 아니한 사항에 대하여는 관계법령 또는 상관례에 따릅니다.</p>

    <strong>제 4 조 (서비스의 내용)</strong>
    <p>회사가 제공하는 서비스는 아래와 같습니다.</p>
    <table class="table table-list mt-2">
        <caption></caption>
        <colgroup>
            <col style="width: 20%;">
            <col style="width: 80%;">
        </colgroup>
        <tbody>
            <tr>
                <th class="text-center bg_gray">서비스 명</th>
                <td class="text-left">알뜰교통카드</td>
            </tr>
            <tr>
                <th class="text-center bg_gray">서비스 내용</th>
                <td class="text-left">회원이 정기적인 대중교통 이용 시 보행‧자전거 또는 이와 유사한 수단을 이용해 최초 출발한 지점부터 대중교통 승차지점까지 및 대중교통 하차지점부터
                    최종 도착한 지점까지 이동한 거리를 측정하여 마일리지를 지급하는 서비스</td>
            </tr>
        </tbody>
    </table>

    <strong>제 5 조 (서비스 이용요금)</strong>
    <ol>
        <li>회사가 제공하는 서비스는 기본적으로 무료입니다. 단, 별도의 유료 서비스의 경우 해당 서비스에 명시된 요금을 지불하여야 사용 가능합니다.</li>
        <li>회사는 유료 서비스 이용요금을 회사와 계약한 전자지불업체에서 정한 방법에 의하거나 회사가 정한 청구서에 합산하여 청구할 수 있습니다.</li>
        <li>유료서비스 이용을 통하여 결제된 대금에 대한 취소 및 환불은 회사의 결제 이용약관 등 관계법에 따릅니다.</li>
        <li>회원의 개인정보도용 및 결제사기로 인한 환불요청 또는 결제자의 개인정보 요구는 법률이 정한 경우 외에는 거절될 수 있습니다.</li>
        <li>무선 서비스 이용 시 발생하는 데이터 통신료는 별도이며 가입한 각 이동통신사의 정책에 따릅니다.</li>
        <li>MMS 등으로 게시물을 등록할 경우 발생하는 요금은 이동통신사의 정책에 따릅니다.</li>
    </ol>

    <strong>제 6 조 (서비스내용변경 통지 등)</strong>
    <ol>
        <li>회사가 서비스 내용을 변경하거나 종료하는 경우 회사는 회원의 등록된 휴대폰번호로 문자전송을 통하여 서비스 내용의 변경 사항 또는 종료를 통지할 수 있습니다.</li>
        <li>①항의 경우 불특정 다수인을 상대로 통지를 함에 있어서는 웹사이트 등 기타 회사의 공지사항을 통하여 회원들에게 통지할 수 있습니다.</li>
    </ol>

    <strong>제 7 조 (서비스이용의 제한 및 중지)</strong>
    <ol>
        <li>회사는 아래 각 호의 1에 해당하는 사유가 발생한 경우에는 회원의 서비스 이용을 제한하거나 중지시킬 수 있습니다.
            <dl class="privacy_list03">
                <dd>회원이 회사 서비스의 운영을 고의 또는 중과실로 방해하는 경우</dd>
                <dd>서비스용 설비 점검, 보수 또는 공사로 인하여 부득이한 경우</dd>
                <dd>전기통신사업법에 규정된 기간통신사업자가 전기통신 서비스를 중지했을 경우</dd>
                <dd>국가비상사태, 서비스 설비의 장애 또는 서비스 이용의 폭주 등으로 서비스 이용에 지장이 있는 때</dd>
                <dd>기타 중대한 사유로 인하여 회사가 서비스 제공을 지속하는 것이 부적당하다고 인정하는 경우</dd>
            </dl>
        </li>
        <li>회사는 전항의 규정에 의하여 서비스의 이용을 제한하거나 중지한 때에는 그 사유 및 제한기간 등을 회원에게 알려야 합니다.</li>
    </ol>

    <strong>제 8 조 (회원위치정보의 이용 또는 제공)</strong>
    <ol>
        <li>회사는 회원위치정보를 이용하여 서비스를 제공하고자 하는 경우에는 미리 이용약관에 명시한 후 회원의 동의를 얻어야 합니다.</li>
        <li>회원 및 법정대리인의 권리와 그 행사방법은 제소 당시의 이용자의 주소에 의하며, 주소가 없는 경우에는 거소를 관할하는 지방법원의 전속관할로 합니다. 다만, 제소 당시 이용자의 주소 또는 거소가
            분명하지 않거나 외국 거주자의 경우에는 민사소송법상의 관할법원에 제기합니다.
            <dl class="privacy_list03">
                <dd>개인위치정보를 수집한 당해 통신단말장치가 문자, 음성 또는 영상의 수신기능을 갖추지 아니한 경우</dd>
                <dd>회원이 온라인 게시 등의 방법으로 통보할 것을 미리 요청한 경우</dd>
            </dl>
        </li>
        <li>회사는 타사업자 또는 이용 고객과의 요금정산 및 민원처리를 위해 위치정보 이용·제공․사실 확인자료를 자동 기록·보존하며, 해당 자료는 1년간 보관합니다.</li>
        <li>
            회사는 개인위치정보를 회원이 지정하는 제3자에게 제공하는 경우에는 개인위치정보를 수집한 당해 통신 단말장치로 매회 회원에게 제공받는 자, 제공일시 및 제공목적을 즉시 통보합니다. 단, 아래 각
            호의 1에 해당하는 경우에는 회원이 미리 특정하여 지정한 통신 단말장치 또는 전자우편주소로 통보합니다.
            <dl class="privacy_list03">
                <dd>개인위치정보를 수집한 당해 통신단말장치가 문자, 음성 또는 영상의 수신기능을 갖추지 아니한 경우</dd>
                <dd>회원이 온라인 게시 등의 방법으로 통보할 것을 미리 요청한 경우</dd>
            </dl>
        </li>
    </ol>

    <strong>제 9 조 (회원의 권리)</strong>
    <ol>
        <li>회원은 회사에 대하여 언제든지 개인위치정보를 이용한 위치기반서비스 제공 및 개인위치정보의 제3자 제공에 대한 동의의 전부 또는 일부를 철회할 수 있습니다. 이 경우 회사는 수집한 개인위치정보 및
            위치정보 이용, 제공사실 확인자료를 파기합니다.</li>
        <li>회원은 회사에 대하여 언제든지 개인위치정보의 수집, 이용 또는 제공의 일시적인 중지를 요구할 수 있으며, 회사는 이를 거절할 수 없고 이를 위한 기술적 수단을 갖추고 있습니다.</li>
        <li>회원은 회사에 대하여 아래 각 호의 자료에 대한 열람 또는 고지를 요구할 수 있고, 당해 자료에 오류가 있는 경우에는 그 정정을 요구할 수 있습니다. 이 경우 회사는 정당한 사유 없이 회원의
            요구를 거절할 수 없습니다.
            <dl class="privacy_list03">
                <dd>본인에 대한 위치정보 수집, 이용, 제공사실 확인자료</dd>
                <dd>본인의 개인위치정보가 위치정보의 보호 및 이용 등에 관한 법률 또는 다른 법률 규정에 의하여 제3자에게 제공된 이유 및 내용</dd>
            </dl>
        </li>
        <li>회원은 제1항 내지 제3항의 권리행사를 위해 회사의 소정의 절차를 통해 요구할 수 있습니다.</li>
    </ol>

    <strong>제 10 조 (법정대리인의 권리)</strong>
    <ol>
        <li>회사는 14세 미만의 회원에 대해서는 개인위치정보를 이용한 위치기반서비스 제공 및 개인위치정보의 제3자 제공에 대한 동의를 당해 회원과 당해 회원의 법정대리인으로부터 동의를 받아야 합니다. 이
            경우 법정대리인은 제9조에 의한 회원의 권리를 모두 가집니다.</li>
        <li>회사는 14세 미만의 아동의 개인위치정보 또는 위치정보 이용, 제공사실 확인자료를 이용약관에 명시 또는 고지한 범위를 넘어 이용하거나 제3자에게 제공하고자 하는 경우에는 14세 미만의 아동과 그
            법정대리인의 동의를 받아야 합니다. 단, 아래의 경우는 제외합니다.
            <dl class="privacy_list03">
                <dd>위치정보 및 위치기반서비스 제공에 따른 요금정산을 위하여 위치정보 이용, 제공사실 확인자료가 필요한 경우</dd>
                <dd>통계작성, 학술연구 또는 시장조사를 위하여 특정 개인을 알아볼 수 없는 형태로 가공하여 제공하는 경우</dd>
            </dl>
        </li>
    </ol>

    <strong>제 11 조 (8세 이하의 아동 등의 보호의무자의 권리)</strong>
    <ol>
        <li>회사는 아래의 경우에 해당하는 자(이하 “8세 이하의 아동”등이라 한다)의 보호의무자가 8세 이하의 아동 등의 생명 또는 신체보호를 위하여 개인위치정보의 이용 또는 제공에 동의하는 경우에는
            본인의 동의가 있는 것으로 봅니다.
            <dl class="privacy_list03">
                <dd>8세 이하의 아동</dd>
                <dd>금치산자</dd>
                <dd>장애인복지법제2조제2항제2호의 규정에 의한 정신적 장애를 가진 자로서 장애인고용촉진및직업재활법 제2조제2호의 규정에 의한 중증장애인에 해당하는 자(장애인복지법 제29조의 규정에
                    의하여 장애인등록을 한 자에 한한다)</dd>
            </dl>
        </li>
        <li>8세 이하의 아동 등의 생명 또는 신체의 보호를 위하여 개인위치정보의 이용 또는 제공에 동의를 하고자 하는 보호의무자는 서면동의서에 보호의무자임을 증명하는 서면을 첨부하여 회사에 제출하여야
            합니다.</li>
        <li>보호의무자는 8세 이하의 아동 등의 개인위치정보 이용 또는 제공에 동의하는 경우 개인위치정보주체 권리의 전부를 행사할 수 있습니다.</li>
    </ol>

    <strong>제 12조 (위치정보관리책임자의 지정)</strong>
    <ol>
        <li>회사는 위치정보를 적절히 관리·보호하고 회원의 불만을 원활히 처리할 수 있도록 실질적인 책임을 질 수 있는 지위에 있는 자를 위치정보관리책임자로 지정해 운영합니다.</li>
        <li>위치정보관리책임자는 위치기반서비스를 제공하는 부서의 부서장으로서 구체적인 사항은 본 약관의 부칙에 따릅니다.</li>
    </ol>

    <strong>제 13 조 (손해배상)</strong>
    <ol>
        <li>회사가 위치정보의 보호 및 이용 등에 관한 법률 제15조 내지 제26조의 규정을 위반한 행위로 회원에게 손해가 발생한 경우 회원은 회사에 대하여 손해배상 청구를 할 수 있습니다. 이 경우 회사는
            고의, 과실이 없음을 입증하지 못하는 경우 책임을 면할 수 없습니다.</li>
        <li>회원이 본 약관의 규정을 위반하여 회사에 손해가 발생한 경우 회사는 회원에 대하여 손해배상을 청구할 수 있습니다. 이 경우 회원은 고의, 과실이 없음을 입증하지 못하는 경우 책임을 면할 수
            없습니다.</li>
    </ol>

    <strong>제 14 조 (면책)</strong>
    <ol>
        <li>회사는 다음 각 호의 경우로 서비스를 제공할 수 없는 경우 이로 인하여 회원에게 발생한 손해에 대해서는 책임을 부담하지 않습니다.<br>
            <dl class="privacy_list03">
                <dd>천재지변 또는 이에 준하는 불가항력의 상태가 있는 경우</dd>
                <dd>서비스 제공을 위하여 회사와 서비스 제휴계약을 체결한 제3자의 고의적인 서비스 방해가 있는 경우</dd>
                <dd>회원의 귀책사유로 서비스 이용에 장애가 있는 경우</dd>
                <dd>제1호 내지 제3호를 제외한 기타 회사의 고의ㆍ과실이 없는 사유로 인한 경우</dd>
            </dl>
        </li>
        <li>회사는 서비스 및 서비스에 게재된 정보, 자료, 사실의 신뢰도, 정확성 등에 대해서는 보증을 하지 않으며 이로 인해 발생한 회원의 손해에 대하여는 책임을 부담하지 아니합니다.</li>
    </ol>

    <strong>제 15 조 (규정의 준용)</strong>
    <ol>
        <li>본 약관은 대한민국법령에 의하여 규정되고 이행됩니다.</li>
        <li>본 약관에 규정되지 않은 사항에 대해서는 관련법령 및 상관습에 의합니다.</li>
    </ol>

    <strong>제 16 조 (분쟁의 조정 및 기타)</strong>
    <ol>
        <li>회사는 위치정보와 관련된 분쟁에 대해 당사자간 협의가 이루어지지 아니하거나 협의를 할 수 없는 경우에는 위치정보의 보호 및 이용 등에 관한 법률 제28조의 규정에 의한 방송통신위원회에 재정을
            신청할 수 있습니다.</li>
        <li>회사 또는 고객은 위치정보와 관련된 분쟁에 대해 당사자간 협의가 이루어지지 아니하거나 협의를 할 수 없는 경우에는 개인정보보호법 제43조의 규정에 의한 개인정보분쟁조정위원회에 조정을 신청할 수
            있습니다.</li>
    </ol>

    <strong>제 17 조 (회사의 연락처)</strong>
    <p>회사의 상호 및 주소 등은 다음과 같습니다.</p>
    <p>1. 상&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;호 : 국토교통부 대도시권 광역교통위원회</p>
    <p>2. 대&nbsp;&nbsp;표&nbsp;&nbsp;자 : 백승근</p>
    <p>3. 세종특별자치시 한누리대로 350 (뱅크빌딩 7F)</p>

    <strong>부칙</strong>
    <p>제1조 (시행일) 이 약관은 2021년 4월 1일부터 시행합니다. </p>
    <p>제2조 위치정보관리책임자는 2020년 11월 10일 기준으로 다음과 같이 지정합니다.</p>
    <p>1. 소&nbsp;&nbsp;&nbsp;속 : ㈜소울인포테크</p>
    <p>2. 성&nbsp;&nbsp;&nbsp;명 : 황철연</p>
    <p>3. 연락처 : 070-4280-4422</p>
</div>
<div class="term" id="term3-service-200803">
    <h3>제1장 총칙</h3>
    <strong>제 1 조 (목적)</strong>
    <p>
        본 약관은 회원(광역알뜰교통카드 서비스 약관에 동의한 자를 말합니다. 이하 "회원"이라고 합니다.) 이 국토교통부 대도시권 광역교통위원회 (이하 "회사"라고 합니다.)가 제공하는 광역알뜰교통카드
        서비스(이하 "서비스"라고 합니다)를 이용함에 있어 회사와 회원의 권리·의무 및 책임사항을 규정함을 목적으로 합니다.
    </p>

    <strong>제 2 조 (이용약관의 효력 및 변경)</strong>
    <ol>
        <li>본 약관은 서비스를 신청한 고객 또는 개인위치정보주체가 본 약관에 동의하고 회사가 정한 소정의 절차에 따라 서비스의 이용자로 등록함으로써 효력이 발생합니다.</li>
        <li>회원이 온라인에서 본 약관의 "동의하기" 버튼을 클릭하였을 경우 본 약관의 내용을 모두 읽고 이를 충분히 이해하였으며, 그 적용에 동의한 것으로 봅니다.</li>
        <li>회사는 위치정보의 보호 및 이용 등에 관한 법률, 콘텐츠산업 진흥법, 전자상거래 등에서의 소비자보호에 관한 법률, 소비자 기본법 약관의 규제에 관한 법률 등 관련법령을 위배하지 않는 범위에서 본
            약관을 개정할 수 있습니다.</li>
        <li>회사가 약관을 개정할 경우에는 기존약관과 개정약관 및 개정약관의 적용일자와 개정사유를 명시하여 현행약관과 함께 그 적용일자 10일 전부터 적용일 이후 상당한 기간 동안 공지만을 하고, 개정
            내용이 회원에게 불리한 경우에는 그 적용일자 30일 전부터 적용일 이후 상당한 기간 동안 각각 이를 서비스 홈페이지에 게시하거나 회원에게 전자적 형태(전자우편, SMS 등)로 약관 개정 사실을
            발송하여 고지합니다.</li>
        <li>회사가 전항에 따라 회원에게 통지하면서 공지 또는 공지ㆍ고지일로부터 개정약관 시행일 7일 후까지 거부의사를 표시하지 아니하면 이용약관에 승인한 것으로 봅니다. 회원이 개정약관에 동의하지 않을
            경우 회원은 이용계약을 해지할 수 있습니다.</li>
    </ol>

    <strong>제 3 조 (관계법령의 적용)</strong>
    <p>본 약관은 신의성실의 원칙에 따라 공정하게 적용하며, 본 약관에 명시되지 아니한 사항에 대하여는 관계법령 또는 상관례에 따릅니다.</p>

    <strong>제 4 조 (서비스의 내용)</strong>
    <p>회사가 제공하는 서비스는 아래와 같습니다.</p>
    <table class="table table-list mt-2">
        <caption></caption>
        <colgroup>
            <col style="width: 20%;">
            <col style="width: 80%;">
        </colgroup>
        <thead>
            <tr>
                <th>서비스 명</th>
                <th>서비스 내용</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>광역알뜰<br>교통카드</td>
                <td class="text-left">회원이 정기적인 대중교통 이용 시 보행‧자전거 또는 이와 유사한 수단을 이용해 최초 출발한 지점부터 대중교통 승차지점까지 및 대중교통 하차지점부터
                    최종 도착한 지점까지 이동한 거리를 측정하여 마일리지를 지급하는 서비스</td>
            </tr>
        </tbody>
    </table>

    <strong>제 5 조 (서비스 이용요금)</strong>
    <ol>
        <li>회사가 제공하는 서비스는 기본적으로 무료입니다. 단, 별도의 유료 서비스의 경우 해당 서비스에 명시된 요금을 지불하여야 사용 가능합니다.</li>
        <li>회사는 유료 서비스 이용요금을 회사와 계약한 전자지불업체에서 정한 방법에 의하거나 회사가 정한 청구서에 합산하여 청구할 수 있습니다.</li>
        <li>유료서비스 이용을 통하여 결제된 대금에 대한 취소 및 환불은 회사의 결제 이용약관 등 관계법에 따릅니다.</li>
        <li>회원의 개인정보도용 및 결제사기로 인한 환불요청 또는 결제자의 개인정보 요구는 법률이 정한 경우 외에는 거절될 수 있습니다.</li>
        <li>무선 서비스 이용 시 발생하는 데이터 통신료는 별도이며 가입한 각 이동통신사의 정책에 따릅니다.</li>
        <li>MMS 등으로 게시물을 등록할 경우 발생하는 요금은 이동통신사의 정책에 따릅니다.</li>
    </ol>

    <strong>제 6 조 (서비스내용변경 통지 등)</strong>
    <ol>
        <li>회사가 서비스 내용을 변경하거나 종료하는 경우 회사는 회원의 등록된 휴대폰번호로 문자전송을 통하여 서비스 내용의 변경 사항 또는 종료를 통지할 수 있습니다.</li>
        <li>①항의 경우 불특정 다수인을 상대로 통지를 함에 있어서는 웹사이트 등 기타 회사의 공지사항을 통하여 회원들에게 통지할 수 있습니다.</li>
    </ol>

    <strong>제 7 조 (서비스이용의 제한 및 중지)</strong>
    <ol>
        <li>회사는 아래 각 호의 1에 해당하는 사유가 발생한 경우에는 회원의 서비스 이용을 제한하거나 중지시킬 수 있습니다.
            <dl class="privacy_list03">
                <dd>회원이 회사 서비스의 운영을 고의 또는 중과실로 방해하는 경우</dd>
                <dd>서비스용 설비 점검, 보수 또는 공사로 인하여 부득이한 경우</dd>
                <dd>전기통신사업법에 규정된 기간통신사업자가 전기통신 서비스를 중지했을 경우</dd>
                <dd>국가비상사태, 서비스 설비의 장애 또는 서비스 이용의 폭주 등으로 서비스 이용에 지장이 있는 때</dd>
                <dd>기타 중대한 사유로 인하여 회사가 서비스 제공을 지속하는 것이 부적당하다고 인정하는 경우</dd>
            </dl>
        </li>
        <li>회사는 전항의 규정에 의하여 서비스의 이용을 제한하거나 중지한 때에는 그 사유 및 제한기간 등을 회원에게 알려야 합니다.</li>
    </ol>

    <strong>제 8 조 (개인위치정보의 이용 또는 제공)</strong>
    <ol>
        <li>회사는 개인위치정보를 이용하여 서비스를 제공하고자 하는 경우에는 미리 이용약관에 명시한 후 개인위치정보주체의 동의를 얻어야 합니다.</li>
        <li>회원 및 법정대리인의 권리와 그 행사방법은 제소 당시의 이용자의 주소에 의하며, 주소가 없는 경우에는 거소를 관할하는 지방법원의 전속관할로 합니다. 다만, 제소 당시 이용자의 주소 또는 거소가
            분명하지 않거나 외국 거주자의 경우에는 민사소송법상의 관할법원에 제기합니다.
            <dl class="privacy_list03">
                <dd>개인위치정보를 수집한 당해 통신단말장치가 문자, 음성 또는 영상의 수신기능을 갖추지 아니한 경우</dd>
                <dd>회원이 온라인 게시 등의 방법으로 통보할 것을 미리 요청한 경우</dd>
            </dl>
        </li>
        <li>회사는 타사업자 또는 이용 고객과의 요금정산 및 민원처리를 위해 위치정보 이용·제공․사실 확인자료를 자동 기록·보존하며, 해당 자료는 1년간 보관합니다.</li>
        <li>
            회사는 개인위치정보를 회원이 지정하는 제3자에게 제공하는 경우에는 개인위치정보를 수집한 당해 통신 단말장치로 매회 회원에게 제공받는 자, 제공일시 및 제공목적을 즉시 통보합니다. 단, 아래 각
            호의 1에 해당하는 경우에는 회원이 미리 특정하여 지정한 통신 단말장치 또는 전자우편주소로 통보합니다.
            <dl class="privacy_list03">
                <dd>개인위치정보를 수집한 당해 통신단말장치가 문자, 음성 또는 영상의 수신기능을 갖추지 아니한 경우</dd>
                <dd>회원이 온라인 게시 등의 방법으로 통보할 것을 미리 요청한 경우</dd>
            </dl>
        </li>
    </ol>

    <strong>제 9 조 (개인위치정보주체의 권리)</strong>
    <ol>
        <li>회원은 회사에 대하여 언제든지 개인위치정보를 이용한 위치기반서비스 제공 및 개인위치정보의 제3자 제공에 대한 동의의 전부 또는 일부를 철회할 수 있습니다. 이 경우 회사는 수집한 개인위치정보 및
            위치정보 이용, 제공사실 확인자료를 파기합니다.</li>
        <li>회원은 회사에 대하여 언제든지 개인위치정보의 수집, 이용 또는 제공의 일시적인 중지를 요구할 수 있으며, 회사는 이를 거절할 수 없고 이를 위한 기술적 수단을 갖추고 있습니다.</li>
        <li>회원은 회사에 대하여 아래 각 호의 자료에 대한 열람 또는 고지를 요구할 수 있고, 당해 자료에 오류가 있는 경우에는 그 정정을 요구할 수 있습니다. 이 경우 회사는 정당한 사유 없이 회원의
            요구를 거절할 수 없습니다.
            <dl class="privacy_list03">
                <dd>본인에 대한 위치정보 수집, 이용, 제공사실 확인자료</dd>
                <dd>본인의 개인위치정보가 위치정보의 보호 및 이용 등에 관한 법률 또는 다른 법률 규정에 의하여 제3자에게 제공된 이유 및 내용</dd>
            </dl>
        </li>
        <li>회원은 제1항 내지 제3항의 권리행사를 위해 회사의 소정의 절차를 통해 요구할 수 있습니다.</li>
    </ol>

    <strong>제 10 조 (법정대리인의 권리)</strong>
    <ol>
        <li>회사는 14세 미만의 회원에 대해서는 개인위치정보를 이용한 위치기반서비스 제공 및 개인위치정보의 제3자 제공에 대한 동의를 당해 회원과 당해 회원의 법정대리인으로부터 동의를 받아야 합니다. 이
            경우 법정대리인은 제9조에 의한 회원의 권리를 모두 가집니다.</li>
        <li>회사는 14세 미만의 아동의 개인위치정보 또는 위치정보 이용, 제공사실 확인자료를 이용약관에 명시 또는 고지한 범위를 넘어 이용하거나 제3자에게 제공하고자 하는 경우에는 14세 미만의 아동과 그
            법정대리인의 동의를 받아야 합니다. 단, 아래의 경우는 제외합니다.
            <dl class="privacy_list03">
                <dd>위치정보 및 위치기반서비스 제공에 따른 요금정산을 위하여 위치정보 이용, 제공사실 확인자료가 필요한 경우</dd>
                <dd>통계작성, 학술연구 또는 시장조사를 위하여 특정 개인을 알아볼 수 없는 형태로 가공하여 제공하는 경우</dd>
            </dl>
        </li>
    </ol>

    <strong>제 11 조 (8세 이하의 아동 등의 보호의무자의 권리)</strong>
    <ol>
        <li>회사는 아래의 경우에 해당하는 자(이하 “8세 이하의 아동”등이라 한다)의 보호의무자가 8세 이하의 아동 등의 생명 또는 신체보호를 위하여 개인위치정보의 이용 또는 제공에 동의하는 경우에는
            본인의 동의가 있는 것으로 봅니다.
            <dl class="privacy_list03">
                <dd>8세 이하의 아동</dd>
                <dd>금치산자</dd>
                <dd>장애인복지법제2조제2항제2호의 규정에 의한 정신적 장애를 가진 자로서 장애인고용촉진및직업재활법 제2조제2호의 규정에 의한 중증장애인에 해당하는 자(장애인복지법 제29조의 규정에
                    의하여 장애인등록을 한 자에 한한다)</dd>
            </dl>
        </li>
        <li>8세 이하의 아동 등의 생명 또는 신체의 보호를 위하여 개인위치정보의 이용 또는 제공에 동의를 하고자 하는 보호의무자는 서면동의서에 보호의무자임을 증명하는 서면을 첨부하여 회사에 제출하여야
            합니다.</li>
        <li>보호의무자는 8세 이하의 아동 등의 개인위치정보 이용 또는 제공에 동의하는 경우 개인위치정보주체 권리의 전부를 행사할 수 있습니다.</li>
    </ol>

    <strong>제 12조 (위치정보관리책임자의 지정)</strong>
    <ol>
        <li>회사는 위치정보를 적절히 관리·보호하고 개인위치정보주체의 불만을 원활히 처리할 수 있도록 실질적인 책임을 질 수 있는 지위에 있는 자를 위치정보관리책임자로 지정해 운영합니다.</li>
        <li>위치정보관리책임자는 위치기반서비스를 제공하는 부서의 부서장으로서 구체적인 사항은 본 약관의 부칙에 따릅니다.</li>
    </ol>

    <strong>제 13 조 (손해배상)</strong>
    <ol>
        <li>회사가 위치정보의 보호 및 이용 등에 관한 법률 제15조 내지 제26조의 규정을 위반한 행위로 회원에게 손해가 발생한 경우 회원은 회사에 대하여 손해배상 청구를 할 수 있습니다. 이 경우 회사는
            고의, 과실이 없음을 입증하지 못하는 경우 책임을 면할 수 없습니다.</li>
        <li>회원이 본 약관의 규정을 위반하여 회사에 손해가 발생한 경우 회사는 회원에 대하여 손해배상을 청구할 수 있습니다. 이 경우 회원은 고의, 과실이 없음을 입증하지 못하는 경우 책임을 면할 수
            없습니다.</li>
    </ol>

    <strong>제 14 조 (면책)</strong>
    <ol>
        <li>회사는 다음 각 호의 경우로 서비스를 제공할 수 없는 경우 이로 인하여 회원에게 발생한 손해에 대해서는 책임을 부담하지 않습니다.<br>
            <dl class="privacy_list03">
                <dd>천재지변 또는 이에 준하는 불가항력의 상태가 있는 경우</dd>
                <dd>서비스 제공을 위하여 회사와 서비스 제휴계약을 체결한 제3자의 고의적인 서비스 방해가 있는 경우</dd>
                <dd>회원의 귀책사유로 서비스 이용에 장애가 있는 경우</dd>
                <dd>제1호 내지 제3호를 제외한 기타 회사의 고의ㆍ과실이 없는 사유로 인한 경우</dd>
            </dl>
        </li>
        <li>회사는 서비스 및 서비스에 게재된 정보, 자료, 사실의 신뢰도, 정확성 등에 대해서는 보증을 하지 않으며 이로 인해 발생한 회원의 손해에 대하여는 책임을 부담하지 아니합니다.</li>
    </ol>

    <strong>제 15 조 (규정의 준용)</strong>
    <ol>
        <li>본 약관은 대한민국법령에 의하여 규정되고 이행됩니다.</li>
        <li>본 약관에 규정되지 않은 사항에 대해서는 관련법령 및 상관습에 의합니다.</li>
    </ol>

    <strong>제 16 조 (분쟁의 조정 및 기타)</strong>
    <ol>
        <li>회사는 위치정보와 관련된 분쟁에 대해 당사자간 협의가 이루어지지 아니하거나 협의를 할 수 없는 경우에는 위치정보의 보호 및 이용 등에 관한 법률 제28조의 규정에 의한 방송통신위원회에 재정을
            신청할 수 있습니다.</li>
        <li>회사 또는 고객은 위치정보와 관련된 분쟁에 대해 당사자간 협의가 이루어지지 아니하거나 협의를 할 수 없는 경우에는 개인정보보호법 제43조의 규정에 의한 개인정보분쟁조정위원회에 조정을 신청할 수
            있습니다.</li>
    </ol>

    <strong>제 17 조 (회사의 연락처) 회사의 상호 및 주소 등은 다음과 같습니다.</strong>
    <p>1. 상&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;호 : 국토교통부 대도시권 광역교통위원회</p>
    <p>2. 대&nbsp;&nbsp;표&nbsp;&nbsp;자 : 최기주</p>
    <p>3. 세종특별자치시 한누리대로 350 (뱅크빌딩 7F)</p>

    <strong>부칙</strong>
    <p>제 1 조 (시행일) 이 약관은 2020년 08월 01일부터 시행합니다.</p>
    <p>제 2 조 위치정보관리책임자는 2020년 08월 01일 기준으로 다음과 같이 지정합니다.</p>
    <p>1. 소&nbsp;&nbsp;&nbsp;속 : ㈜소울인포테크</p>
    <p>2. 성&nbsp;&nbsp;&nbsp;명 : 이태형</p>
    <p>3. 연락처 : 070-4280-4422</p>
</div>
<div class="term" id="term3-service-200507">
    <strong>개인정보의 처리목적</strong><br>
    국토교통부 대도시권광역교통위원회의 광역알뜰교통카드가 취급하는 모든 개인정보는 개인정보 보호법 등 관련 법령상의 개인정보보호 규정을 준수하여 수집·보유·처리되고 있습니다. 광역알뜰교통카드는 개인정보보호법에 따라
    이용자의 개인정보 보호 및 권익을 보호하고 개인정보와 관련한 이용자의 고충을 원활하게 처리할 수 있도록 아래와 같은 처리 방침을 두고 있습니다.
    <br><br>
    <strong>수집하는 개인정보</strong><br>
    회원가입, 적립하기 등 각종 서비스의 제공을 위해 최초 회원가입 당시 아래와 같은 최소한의 개인정보를 필수항목으로, iPhone 사용자를 대상으로 HealthKit 프레임워크를 통해 얻은 개인정보(스텝,
    거리)를 선택항목으로 수집하고 있습니다.
    <br><br>
    <strong>&lt;회원가입 시&gt;</strong><br>
    사용자 아이디, 비밀번호, 알뜰교통카드번호, 성명, 생년월일, 휴대폰번호, 주민등록주소, 출발지주소, 도착지주소, 주요 정류장 등을 필수항목으로 수집합니다.
    <br><br>
    <strong>&lt;마일리지 적립 시&gt;</strong><br>
    iPhone 사용자를 대상으로 HealthKit 프레임워크를 통해 얻은 개인정보(스텝, 거리)를 선택항목으로 수집합니다.
    <br><br>
    <strong>타 업체의 개인정보</strong><br>
    국토교통부 대도시권 광역교통위원회의 광역알뜰교통카드는 Apple(Apple Inc.)의 HealthKit(자세한 정보는 여기를 참조) 프레임워크를 사용하여 iPhone의 건강 및 피트니스 데이터를 이용자의
    명시적 동의 하에 앱에서 HealthKit 저장소와 통신하여 이 데이터를 엑세스할 수 있습니다. 광역알뜰교통카드는 이용자의 명시적인 동의를 받아 아래에 설명된 목적을 위해 HealthKit 프레임워크를 통해
    얻은 개인정보(스텝, 거리)를 처리합니다. HealthKit 프레임워크를 통해 얻은 개인정보(스텝, 거리)는 마일리지 계산을 하기 위한 목적에 한해 사용합니다. 또한, HealthKit 프레임워크를 통해 얻은
    개인정보(스텝, 거리)는 광고 또는 유사한 서비스에 사용하지 않습니다.
    <br><br>
    <strong>수집 방법</strong><br>
    회원가입 시 웹, 앱에서 이용자로부터 직접 입력 받는 방식으로 최소한의 개인정보를 수집합니다. iPhone 사용자를 대상으로 HealthKit 프레임워크를 통해 얻은 개인정보(스텝, 거리)는 사용자가 마일리지
    적립 시 수집합니다. 개인정보의 수집이 발생하는 경우, 반드시 ‘개인정보 이용내역’에 대한 이용자의 사전 동의를 받으며 그 동의 범위 내에서만 개인정보를 이용합니다.
    <br><br>
    <strong>수집한 개인정보의 이용</strong><br>
    수집한 이용자의 개인정보를 이용자관리, 마일리지 계산, 서비스의 제공 향상, 신규 서비스의 개발 및 안전한 인터넷 이용환경 구축 등의 목적에 한해 이용합니다. iPhone 사용자를 대상으로 HealthKit
    프레임워크를 통해 얻은 개인정보(스텝, 거리)는 마일리지 계산 목적에 한해 이용합니다. 회원가입 시 동의 받은 이용목적과 달리 개인정보를 활용하지 않습니다.
    <br><br>
    <strong>개인정보의 제3자 제공</strong><br>
    광역알뜰교통카드 서비스에 사용되는 개인정보는 공공기관의 개인정보보호법 제3에 따라 개인동의 없이 제 3자에게 정보를 제공하거나 활용할 수 없습니다. 단, 제공하는 서비스 향상을 위해 추가서비스 제공이 필요할
    경우 개인 정보제공 활용 동의 범위 안에서 사용할 수 있습니다. 단, iPhone 사용자를 대상으로 HealthKit 프레임워크를 통해 얻은 개인정보(스텝, 거리)는 제 3자에게 제공하거나 활용할 수
    없습니다. 정보주체는 개인정보의 수집·이용 목적에 대한 동의를 거부할 수 있으며, 동의 거부 시 광역알뜰교통카드 서비스를 이용할 수 없습니다.
    <br><br>
    <dl class="bullet mb-4">
        <dt>개인정보 제3자 제공 목적 </dt>
        <dd>
            - 광역알뜰교통카드 마일리지 적립, 충전, 지급 서비스<br>
            - 카드 및 마일리지 관련 주요사항 안내<br>
            - 해당 지역 거주여부 확인</dd>
        <dt>개인정보를 제공받는 자</dt>
        <dd>서비스와 관련된 기관 및 업체(해당 지자체, 우리카드, 비씨카드, 신한카드, 하나카드 및 마일리지 운영과 관련된 업체)</dd>
        <dt>제공하는 개인정보의 항목</dt>
        <dd>개인식별정보 (아이디, 성명, 생년월일, 휴대폰번호, 알뜰카드번호, 주민등록주소, 출발지 주소, 목적지 주소)</dd>
        <dt>개인정보 보유 및 이용 기간</dt>
        <dd>서비스 가입일로부터 서비스 탈퇴일까지(탈퇴 시 정보 삭제)</dd>
    </dl>
    <strong>개인정보의 파기</strong><br>
    이용자의 회원탈퇴, 서비스의 종료, 이용자에게 동의 받은 개인정보 보유기간의 도래와 같이 개인정보의 수집 및 이용 목적이 달성된 경우 지체없이 수집했던 이용자의 개인정보를 파기합니다.
    <br><br>
    <strong>개인정보 처리 수탁자 담당자</strong><br>

    이 름 : 김민석<br>
    소 속 : 한국교통안전공단 <br>
    전 화 : 054-459-7441<br>
    직 위 : 선임연구원<br>
    메 일 : ms_kim711@kotsa.or.kr<br>
    <br>
    이 름 : 이태형<br>
    소 속 : ㈜소울인포테크<br>
    전 화 : 070-4280-4422<br>
    직 위 : 전무<br>
    메 일 : lees@soulint.com<br>
    <br>
    <strong>이용자의 권리와 그 행사방법</strong><br>
    이용자는 언제든지 등록되어있는 자신의 개인정보를 조회하거나 수정할 수 있으며, 개인정보의 처리에 동의하지 않는 경우 동의를 거부하거나 회원탈퇴를 요청하실 수 있습니다. 다만, 그러한 경우 서비스의 일부 또는
    전부 이용이 어려울 수 있습니다.
    이용자의 개인정보 조회, 수정을 위해서는 '개인정보변경'(또는 '신청정보수정' 등)이 가능합니다.
    이용자가 개인정보의 오류에 대한 정정을 요청하신 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용하지 않습니다.
    <br><br>
    <strong>개인정보의 안전성 확보 조치 </strong><br>
    <dl class="bullet mt-2 mb-4">
        <dt>개인정보 취급직원의 최소화 및 교육</dt>
        <dd>개인정보를 취급하는 직원은 반드시 필요한 인원에 한하여 지정 · 관리하고 있으며 취급직원을 대상으로 안전한 관리를 위한 교육을 실시하고 있습니다.</dd>
        <dt>개인정보에 대한 접근 제한 </dt>
        <dd>
            - 개인식별정보 (아이디, 성명, 생년월일, 휴대폰번호, 알뜰카드번호, 주민등록주소, 출발지 주소, 목적지 주소)에 대해 다음과 같은 접근 제한을 실시하고 있습니다. <br>
            - 개인정보를 안전하게 저장‧전송할 수 있는 암호화 기술의 적용 또는 이에 상응하는 조치<br>
            - 개인정보 침해사고 발생에 대응하기 위한 접속기록의 보관 및 위조‧변조 방지를 위한 조치<br>
            - 개인정보의 안전한 보관을 위한 보관시설의 마련 또는 잠금장치의 설치 등 물리적 조치</dd>
        <dt>보안프로그램 설치 및 주기적 점검·갱신</dt>
        <dd>해킹이나 컴퓨터 바이러스 등에 의한 개인정보 유출 및 훼손을 막기 위하여 보안프로그램을 설치하고 주기적으로 갱신·점검하고 있습니다.</dd>
    </dl>
    <strong>개인정보 관리책임자</strong><br>
    이 름 : 유찬호<br>
    소 속 : 국토교통부 대도시권 광역교통위원회 광역교통요금과 <br>
    전 화 : 044-201-5082<br>
    직 위 : 사무관 <br>
    메 일 : chanhoyu@korea.kr <br>
    기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다. <br>
    - 개인정보침해신고센터 (www.118.or.kr / 국번없이 118)<br>
    - 대검찰청 사이버범죄수사단 (www.spo.go.kr / 02-3480-3571) <br>
    - 경찰청 사이버테러대응센터 (www.ctrc.go.kr / 국번없이 182)
    <br><br>
    <strong>기타</strong><br>
    서비스에 링크되어있는 웹사이트 또는 모바일앱이 개인정보를 수집하는 행위에 대해서는 본 "개인정보취급방침"이 적용되지 않음을 알려 드립니다.
    <br><br>
    <strong>고지의 의무</strong><br>
    현 개인정보취급방침 내용 추가, 삭제 및 수정이 있을 시에는 개정 최소 7일전부터 '공지사항'을 통해 고지할 것입니다. 다만, 개인정보의 수집 및 활용, 제3자 제공 등과 같이 이용자 권리의 중요한 변경이
    있을 경우에는 최소 30일 전에 고지합니다.
</div>