<!-- 개인정보 수집 및 이용에 대한 안내 -->
<div class="term current">
    <h5>[개인정보수집목적]</h5>
    <p>대도시권 광역 교통위원회는 다음의 목적을 위하여 개인정보를 처리합니다. </p>
    <p>처리하고있는 개인정보는 다음의 목적 이외의 용도로는 이용되지 않으며, 이용목적이 변경되는 경우에는 개인정보보호법 제18조에따라 별도의 동의를 받는등 필요한 조치를 이행할 예정입니다. </p>
    <p>①회원제 서비스 이용에 따른 관리 본인 여부 식별 확인 회원자격 유지 관리를 위한 인증 회원가입 등 </p>
    <p>②서비스 이용에 따른 마일리지의 산정 및 적립 </p>
    <p>③원활한 의사소통의 경로 확보 및 분쟁조정을 위한 기록보존 본인의사 확인 고지사항 전달 민원인의 신원 확인 및 불만처리 사실조사를 위한 연락․통지 처리결과 통보 등 </p>
    <p>④통계학적 분석 및 정책개발 이용자의 서비스 이용에 대한 통계분석 웹로그 분석 등 </p>
    <p>⑤보안정책 수립 온라인 정보 도용 및 유출사고 예방 사고 조사 등의 목적 </p>
    <h5><strong class="strong">[개인정보수집항목]</strong></h5>
    <p><strong class="strong">필수: 알뜰교통카드번호,아이디,비밀번호,이름,생년월일,성별,가입경로,직업,휴대폰번호,주민등록상 행정구역</strong></p>
    <h5><strong class="strong">[개인정보의보유및이용기간]</strong></h5>
    <p><strong class="strong">수집된 개인정보는 개인의 탈퇴요청일의 1년 까지 보유 이용됩니다</strong></p>
    <h5><strong class="strong">[동의를 거부할 권리및동의를 거부할 경우의 불이익사항]</strong></h5>
    <p><strong class="strong">귀하는 개인정보의 수집 이용목적에 대한 동의를 거부할 수 있으며 동의 거부 시 알뜰교통카드 앱에서 제공하는 회원제 서비스를 이용하실 수 없습니다.</strong></p>
</div>