<!-- 개인정보 제공 동의 -->
<div class="term current">
    <p>· 관련근거</p>
    <p>전자정부법 제8조(구비서류의 전자적 확인 등)</p>
    <p>전자정부법 제9조(방문에 의하지 아니하는 민원처리)</p>
    <p>전자정부법 제12조(행정정보의 전자적 제공)</p>
    <p>전자정부법 제36조(행정정보의 효율적 관리 및 이용)</p>
    <p>전자정부법 시행령 제90조(민감정보 및 고유식별정보의 처리)</p>
    <p>개인정보보호법 제18조(개인정보의 목적 외 이용·제공 제한)</p>
    <p><strong class="strong">· 수집기관 : 자격확인 서비스 정보 보유기관</strong></p>
    <p><strong class="strong">· 수집항목 : 이름, 주민등록번호, 기관코드, 행정동코드, 거주행정기관확인결과, 생계급여사실여부, 의료급여사실여부, 주거급여사실여부, 교육급여사실여부, 차상위장애인사실여부, 차상위자활근로대상자사실여부, 차상위본인부담대상자사실여부</strong></p>
    <p><strong class="strong">· 수집목적 : 행정정보공동이용을 통한 자격확인</strong></p>
    <p><strong class="strong">· 보유기간 : 자격확인 후 즉시 파기</strong></p>
    <p>· 본인은 위 정보를 행정정보공동이용을 통한 자격확인을 위하여 개인정보보호법 제18조 제3항에 의거 개인정보 및 자격정보의 활용·처리에 동의합니다.</p>
    <p><strong class="strong">※ 본인이 동의를 하지 않을 경우, 알뜰교통카드 서비스 이용이 불가능합니다.</strong></p>
</div>