<!-- 제3자 정보제공에 대한 안내 -->
<div class="term current">
    <p>제3자정보제공에대한안내</p>
    <p>대도시권광역교통위원회는 알뜰교통카드 서비스를 제공과 정책 및 연구 등을 위해 개인정보를 제3자에게 제공합니다.</p>
    <p>회원은 개인정보 제3자 제공 동의를 거부할 수 있으며 거부 시 알뜰교통카드 서비스를 이용할 수 없습니다 </p>
    <table>
        <thead>
            <tr>
                <th scope="col">제공받는 자</th>
                <th scope="col">제공 목적</th>
                <th scope="col">제공 항목</th>
                <th scope="col">보유기간 및 이용기간</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>알뜰교통카드 마일리지지원사업 대상 지방자치단체</td>
                <td>마일리지 지급 대상 확인</td>
                <td>성명, <br />주민등록상 행정구역, 생년월일, <br />휴대폰번호</td>
                <td rowspan="2">제공목적 달성 시까지</td>
            </tr>
            <tr>
                <td>정부출연연구기관 및 대학교</td>
                <td>정책 및 연구 개발</td>
                <td>주민등록상 행정구역, <br />생년월일, <br />휴대폰번호호</td>
            </tr>
        </tbody>
    </table>
    <!-- <h5><strong class="strong">[제공받는 자]</strong></h5>
    <p><strong class="strong">알뜰교통카드 마일리지지원사업 대상 지방자치단체와 정부출연연구기관 및 대학교 등</strong></p>
    <h5><strong class="strong">[제공목적]</strong></h5>
    <p><strong class="strong">마일리지 지급 대상 확인, 정책 및 연구 개발 등</strong></p>
    <h5><strong class="strong">[제공항목]</strong></h5>
    <p><strong class="strong">성명,주민등록상 행정구역,생년월일,휴대폰번호</strong></p>
    <h5><strong class="strong">[보유기간 및 이용기간]</strong></h5>
    <p><strong class="strong">제공목적 달성 시까지</strong></p>
    <h5><strong class="strong">[동의를 거부할 권리 및 동의를 거부할 경우의 불이익사항]</strong></h5>
    <p><strong class="strong">회원은 제3자 정보제공에 대한 동의를 거부할 수 있으며 동의 거부 시 알뜰교통카드 앱에 회원가입이 되지 않으며 알뜰교통카드 서비스를 이용할 수 없습니다.</strong></p> -->
</div>