<!-- 카드등록, 가입 1단계 -->
<div class="guide">
    <h4 class="guide-title tooltip-red" role="tooltip">안내드립니다</h4>
    <ol>
        <li><strong> 카드 변경은 월 1회 가능합니다. (기준 : 매달 1일~말일)</strong></li>
        <li>신한/우리/하나카드는 동일한 카드사의 카드 재발급 시 카드번호를 등록하지 않아도(자동연계) 마일리지 혜택이 제공됩니다.</li>
        <li>모바일캐시비 마일리지가 적립되지 않는 경우
            <ul>
                <li>삼성페이 등(LG페이, 네이버페이, 페이코, L.Point, OK캐쉬백, KB페이)을 사용하여 가맹점에서 사용(결제)시 알뜰교통카드와 연결이 해지됩니다.</li>
                <li>삼성페이 등에 모바일캐시비 교통카드 추가(등록) 시 알뜰교통카드와 연결이 해지됩니다.</li>
                <li>모바일캐시비 후불형 교통카드는 마일리지가 적립되지 않습니다.</li>
                <li>모바일 카드를 선불형 → 후불형으로 변경 시 마일리지가 적립되지 않습니다.</li>
                <li>USIM 변경시 모바일카드번호가 변경되므로 카드 재등록이 필요합니다.</li>
            </ul>
        </li>
        <li>모바일캐시비 마일리지를 다시 적립받는 방법
            <ul>
                <li>삼성페이 등(LG페이,네이버페이,페이코,L.Point,OK캐쉬백,KB페이) 을 가맹점에서 사용(결제) 후 알뜰교통카드 앱의 [카드변경]에서 카드번호16자리 등록 시 마일리지를
                    적립할 수 있습니다.</li>
                <li>삼성페이 등(LG페이,네이버페이,페이코,L.Point,OK캐쉬백,KB페이)에 모바일캐시비 교통카드 삭제 후 알뜰교통카드 앱의 [카드변경]에서 카드번호16자리 등록 시 마일리지를
                    적립할 수 있습니다.</li>
                <li>모바일캐시비 후불형 교통카드 → 선불형으로 변경 후 알뜰교통카드 앱의 [카드변경]에서 카드번호16자리 등록 시 마일리지를 적립할 수 있습니다.</li>
                <li>USIM 변경 후 알뜰교통카드 앱의 [카드변경]에서 카드번호16자리 등록 시 마일리지를 적립할 수 있습니다.</li>
            </ul>
        </li>
    </ol>
</div>